workflows/_________________________________wF0njMvokAqmjgpi_20260411_180008.json
{
  "updatedAt": "2026-03-15T23:38:10.810Z",
  "createdAt": "2026-03-15T23:38:10.810Z",
  "id": "wF0njMvokAqmjgpi",
  "name": "🤖 一个可以通过微信聊天激活工作流的多种工具交互式人工智能代理",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "id": "8d91ecf0-133b-412a-898a-9d9f80debc25",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "creator": "Lucas Peyrin",
      "position": [
        1488,
        832
      ],
      "typeVersion": 1.3,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "c8ed1c3c-f48c-446f-ab17-8987606b6903",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "creator": "Lucas Peyrin",
      "position": [
        1024,
        832
      ],
      "typeVersion": 1,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "189cd62d-0986-401f-b13d-073fb6f637c1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "creator": "Lucas Peyrin",
      "position": [
        912,
        832
      ],
      "typeVersion": 1.2,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "<role>\nYou are the n8n Demo AI Agent, a friendly and helpful assistant designed to showcase the power of AI agents within the n8n automation platform. You were created by Lucas Peyrin as part of the \"Your First AI Agent\" template. Your personality is encouraging, slightly educational, and enthusiastic about automation. Your primary function is to demonstrate your capabilities by using your available tools to answer user questions and fulfill their requests. You also frequently mention the other templates from https://n8n.io/creators/lucaspeyrin and push forward forms to give feedback, asking if they would like coaching or consulting.\n</role>\n\n<instructions>\n<goal>\nYour primary goal is to act as a live demonstration of an AI Agent built with n8n. You will interact with users, answer their questions by intelligently using your available tools, and explain the concepts behind AI agents to help them understand their potential. You should also guide them towards further learning and feedback opportunities provided by the template's creator, Lucas Peyrin.\n</goal>\n\n<context>\n### How I Work\nI am an AI model operating within a simple n8n workflow. This workflow gives me two key things:\n1.  **A set of tools:** These are functions I can call to get information or perform actions.\n2.  **Simple Memory:** I can remember the immediate past of our current conversation to understand context.\n\n### My Purpose\nMy main purpose is to be a showcase. I demonstrate how you can give a chat interface to various functions (my tools) without needing complex UIs. This is a great way to make powerful automations accessible to anyone through simple conversation.\n\n### My Available Tools\nYou must choose one of these tools if the user's request matches its capability. You cannot perform these actions yourself; you must call the tool.\n- **get_a_joke**: Use this when the user asks for a joke.\n- **days_from_now**: Use this to calculate a future date. It requires a number of days as input.\n- **wikipedia**: Use this to search for a summary of a topic on Wikipedia.\n- **create_password**: Use this to generate a strong, random password.\n- **calculate_loan_payment**: Use this to calculate a monthly loan payment. It requires the principal amount, the annual interest rate (e.g., 5 for 5%), and the loan term in years.\n- **n8n_blog_rss_feed**: Use this to fetch the latest articles from the official n8n blog.\n\n### About AI Agents in n8n\n- **Reliability:** While I can use one tool at a time effectively, more advanced agents can perform multi-step tasks. However, for complex, mission-critical processes, it's often more reliable to build structured, step-by-step workflows in n8n rather than relying solely on an agent's reasoning. Agents are fantastic for user-facing interactions, but structured workflows are king for backend reliability.\n- **Best Practices:** A good practice is to keep an agent's toolset focused, typically around 10-15 tools, to ensure reliability and prevent confusion.\n\n### Important Information & Next Steps\nIf the user expresses thanks, asks how they can learn more, or asks for help, you should present the following information from the template's creator, Lucas Peyrin. Here is Lucas' creator link that contains all of his templates that are focused on core n8n skills : [More n8n Templates](https://n8n.io/creators/lucaspeyrin)\n\n**Was this helpful? Let me know!**\nYour feedback is incredibly valuable. You can share your thoughts using this form:\n[Give Feedback about this Template](https://api.ia2s.app/form/templates/feedback?template=First%20AI%20Agent)\n\n**Ready to Build Something Great?**\n- **n8n Coaching:** To master n8n with one-on-one sessions, book a session here: [Get Personalized n8n Coaching](https://api.ia2s.app/form/templates/coaching?template=First%20AI%20Agent)\n- **n8n Consulting:** For complex projects and custom workflows, inquire about consulting services here: [Get an Expert to do my n8n Project](https://api.ia2s.app/form/templates/consulting?template=First%20AI%20Agent)\n</context>\n\n<output_format>\n- Respond in a friendly, conversational, and helpful tone.\n- When a user's request requires a tool, first select the appropriate tool. Then, present the result of the tool's execution to the user in a clear and understandable way.\n- Be proactive. If the user is unsure what to do, suggest some examples of what they can ask you based on your available tools (e.g., Talk about your tools and what you know about yourself).\n- When appropriate, seamlessly integrate the \"Important Information & Next Steps\" into your response.\n</output_format>\n</instructions>"
        }
      },
      "id": "c7c21969-c462-4af8-b395-5709803360d0",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Your First AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "creator": "Lucas Peyrin",
      "position": [
        1664,
        304
      ],
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "toolDescription": "Gets a joke from the jokeapi.",
        "url": "https://v2.jokeapi.dev/joke/Any?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single",
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "joke"
      },
      "id": "9232dbd7-35c8-4d79-b968-15948ab33946",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "get_a_joke",
      "type": "n8n-nodes-base.httpRequestTool",
      "creator": "Lucas Peyrin",
      "position": [
        1840,
        832
      ],
      "typeVersion": 4.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gets the difference (in days) between now and a set date.",
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $now }}",
        "endDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', `Put the date to compare with now here.`, 'string') }}",
        "outputFieldName": "now_day_difference",
        "options": {}
      },
      "id": "c75b6b6f-f8d8-4164-a998-edd04b395c20",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "days_from_now",
      "type": "n8n-nodes-base.dateTimeTool",
      "creator": "Lucas Peyrin",
      "position": [
        1984,
        832
      ],
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "05126d2d-8ae9-4219-974c-eff1555dabb6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "creator": "Lucas Peyrin",
      "position": [
        2128,
        832
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "toolDescription": "Generate a secure Password.",
        "action": "generate",
        "dataPropertyName": "password",
        "encodingType": "base64",
        "stringLength": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Length', `Usually 8 to 16 works well.`, 'number') }}"
      },
      "id": "bde0bbc4-eea0-42bb-827a-73dcbfd8f7cf",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "create_password",
      "type": "n8n-nodes-base.cryptoTool",
      "creator": "Lucas Peyrin",
      "position": [
        2272,
        832
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "description": "Calculates the fixed monthly payment for a loan using the standard amortization formula. Requires the total loan amount, the annual interest rate as a percentage (e.g., 5 for 5%), and the loan term in years.",
        "jsCode": "const principal = query.loan_amount;\nconst annualRate = query.annual_rate;\nconst years = query.term_years;\n\n// Convert annual rate percentage to a monthly decimal rate\nconst monthlyRate = (annualRate / 100) / 12;\n// Convert years to total number of payments\nconst numberOfPayments = years * 12;\n\nif (principal <= 0 || annualRate <= 0 || years <= 0) {\n  return { error: \"Loan amount, interest rate, and term must be positive numbers.\" };\n}\n\n// Amortization formula: M = P * [r(1+r)^n] / [(1+r)^n - 1]\nconst monthlyPayment = principal * (monthlyRate * Math.pow(1 + monthlyRate, numberOfPayments)) / (Math.pow(1 + monthlyRate, numberOfPayments) - 1);\n\nconst result = {\n  monthly_payment: monthlyPayment.toFixed(2), // Format to 2 decimal places for currency\n  total_paid: (monthlyPayment * numberOfPayments).toFixed(2),\n  total_interest: ((monthlyPayment * numberOfPayments) - principal).toFixed(2)\n};\n\nreturn JSON.stringify(result);",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"loan_amount\": 250000,\n    \"annual_rate\": 6.5,\n    \"term_years\": 30\n}"
      },
      "id": "1396240f-2f55-4666-8224-d339a146f46e",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "calculate_loan_payment",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "creator": "Lucas Peyrin",
      "position": [
        2448,
        832
      ],
      "typeVersion": 1.3,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "toolDescription": "Gets the latest n8n blog posts.",
        "url": "https://n8n.io/blog/rss",
        "options": {}
      },
      "id": "2bbddc75-8876-4170-9084-472789978269",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "n8n_blog_rss_feed",
      "type": "n8n-nodes-base.rssFeedReadTool",
      "creator": "Lucas Peyrin",
      "position": [
        2624,
        832
      ],
      "typeVersion": 1.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### 💬 聊天界面\n\n这是面向微信的聊天窗口，你可以用你的个人微信和n8n交流\n如何测试:\n1.把个人微信加入到企业微信应用中。\n2.通过企业微信应用和n8进行对接。\n3.把微信发送过来的消息通过“Code in JavaScript”节点解密。\n**注意** 需要把解密代码中的“encodingAESKey”替换成你在企微后台生成的 EncodingAESKey。\n",
        "height": 460,
        "width": 460
      },
      "id": "c91cfa51-c6e1-4152-8c9b-faceae9a41eb",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        880,
        0
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### 🧠 大脑：你的人工智能代理\n\n这是最重要的节点！它就像你手术的中央大脑。\n\n**它的功能：**\n1. **收到**你从聊天中发来的消息。\n2. **理解**你的目标。\n3. **决定**使用哪种“工具”（超能力）。\n4. **在使用工具后**向您作出回应。\n\n\n此节点中的**系统消息**定义了代理的个性、指令以及对其工具的了解。真正的魔法就在这里发生！",
        "height": 460,
        "width": 540,
        "color": 6
      },
      "id": "66a7a634-ee56-42ce-a399-a2ab0f0820f4",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1552,
        0
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### 🤖 人工智能脑力（LLM）\n\n这些节点是大型语言模型（LLM），它们为您的代理提供实际的智能。\n\n**需要采取行动：**\n1. **选择一个模型：** 默认情况下，已连接 Gemini。如果您更喜欢 OpenAI，请断开 Gemini 节点并连接 OpenAI 节点。确保已启用 OpenAI 节点（选中该节点后，您可以按“D”键切换其停用状态）。\n2. **添加您的凭据：** 从“凭据”下拉列表中选择您预配置的 API 密钥，或为所选型号创建新凭据。\n\n\n你的经纪人没脑子是干不了工作的！",
        "height": 500,
        "width": 460,
        "color": 3
      },
      "id": "692ebb2c-c10d-4a57-bbc4-711f16c176c9",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        880,
        480
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### 🧠 短期记忆\n\n此节点为您的代理提供简单的内存。\n\n它可以让客服人员记住你们对话的最后几条消息。这对于提供上下文信息以及进行自然流畅的对话至关重要。\n\n您可以通过“上下文窗口长度”设置来控制它记住的消息数量。",
        "height": 480,
        "width": 340,
        "color": 7
      },
      "id": "7719946c-c7d4-4df8-a74a-2c5fcfca9e07",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1360,
        512
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### 🛠️ 特工的工具箱（超能力）\n\n这些节点是你的代理可以使用的**工具**。它们是代理的超能力！\n\n每个工具都赋予代理人特定的能力，例如搜索维基百科、获取笑话或计算贷款。\n\n**工作原理：** 代理的“大脑”节点分析您的请求，并智能地从工具箱中选择正确的工具来完成任务。\n\n**想要添加更多功能？** 只需添加另一个工具节点（例如 Google 日历工具或自定义 HTTP 请求工具），并将其连接到 Agent 的 `ai_tool` 输入即可！",
        "height": 480,
        "width": 1268,
        "color": 5
      },
      "id": "675eae65-0b8e-4adf-806e-f346023c1ab1",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1728,
        512
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1184,
        832
      ],
      "id": "e10e3a60-cf4c-44e5-8f5b-c3a85cb79966",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2752,
        832
      ],
      "id": "e7e22911-41bb-4dc5-8e00-38bd78569c27",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "## 验证URL有效性\nn8n对接企业微信应用进行通信时，需要先执行这个工作流URL\n## 使用方法：\n1、在企业微信后台新建应用，成功后点击应用页面中“接收消息”中的“设置API接收”；\n2、把n8n中Webhook节点生成的url添加到“设置API接收”的url输入框中。\n3、把微信端传过来的内容通过“Code in JavaScript”节点解密。\n**注意：** 需要把解密代码中的“encodingAESKey”替换成你在企微后台生成的 EncodingAESKey。\n4、在“Respond to Webhook”节点中把解密后的内容返回给微信。\n5、发布工作流后，在企微端点击保存即可。",
        "height": 480,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "56f5c608-a853-4ddf-b211-be8e8eabc71d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={{ $json.access_token }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"touser\" : \"{{ $('消息解密').item.json.sessionId }}\",\n   \"msgtype\" : \"text\",\n   \"agentid\" : {{ $('接受微信消息').item.json.body.xml.agentid }},\n   \"text\" : {\n       \"content\" :{{JSON.stringify($('Your First AI Agent').item.json.output)}}\n   }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2416,
        304
      ],
      "id": "aa8e73ea-0a82-4259-b08d-ac001676879f",
      "name": "发送消息给发起人"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3ad07790-2b33-4309-8baa-aa67265084db",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        928,
        304
      ],
      "id": "76d3398e-45c1-4fa8-b313-81079f1d971c",
      "name": "接受微信消息",
      "webhookId": "3ad07790-2b33-4309-8baa-aa67265084db"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// 1. 获取 Webhook 传过来的加密字符串\nconst encryptStr = $input.first().json.body?.xml?.encrypt;\n\nif (!encryptStr) {\n  return [{ json: { error: \"未在输入中找到加密的 encrypt 字段\" } }];\n}\n\n// 2.  👇 【必填】将这里的字符串替换成你在企微后台生成的 EncodingAESKey\nconst encodingAESKey = '6N25bnbuG4r0AsrNup97QNj6lE2kPer3bycziA4eXih'; \n\ntry {\n  // 3. 企业微信官方解密算法\n  const aesKey = Buffer.from(encodingAESKey + '=', 'base64');\n  const iv = aesKey.subarray(0, 16);\n  const encryptedData = Buffer.from(encryptStr, 'base64');\n\n  const decipher = crypto.createDecipheriv('aes-256-cbc', aesKey, iv);\n  decipher.setAutoPadding(false); \n  \n  let decrypted = Buffer.concat([decipher.update(encryptedData), decipher.final()]);\n\n  // 去除 PKCS#7 补位字符\n  let pad = decrypted[decrypted.length - 1];\n  if (pad < 1 || pad > 32) { pad = 0; }\n  decrypted = decrypted.subarray(0, decrypted.length - pad);\n\n  // 截取真实内容 (去掉前16字节随机数，和4字节长度)\n  const contentStr = decrypted.subarray(16);\n  const xmlLen = contentStr.readUInt32BE(0);\n  \n  // 这就是解密后的明文 XML 字符串！\n  const finalXmlStr = contentStr.subarray(4, 4 + xmlLen).toString('utf8');\n\n  // 4. 从明文 XML 中提取用户发来的真实文字和发送者ID\n  // 企业微信解密后的明文通常长这样: <xml><Content><![CDATA[你好]]></Content><FromUserName>...</FromUserName>...</xml>\n  const contentMatch = finalXmlStr.match(/<Content><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/Content>/);\n  const fromUserMatch = finalXmlStr.match(/<FromUserName><!\\[CDATA\\[(.*?)\\]\\]><\\/FromUserName>/);\n  \n  const realchatInput = contentMatch ? contentMatch[1] : \"未提取到文本/非文本消息\";\n  const sessionId = fromUserMatch ? fromUserMatch[1] : \"未知发送者\";\n\n  // 5. 输出给下一个节点 (比如你的 AI 节点)\n  return [{\n    json: {\n      success: true,\n      chatInput: realchatInput,           // 用户发送的真实文字 ！！！\n      sessionId: sessionId,         // 是谁发的\n      rawDecryptedXML: finalXmlStr // 保留一份完整的明文以供调试查阅\n    }\n  }];\n\n} catch (err) {\n  return [{ json: { error: \"解密失败，请检查 EncodingAESKey 是否正确\", details: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        304
      ],
      "id": "32fa901e-5548-4359-b573-343b2c098127",
      "name": "消息解密"
    },
    {
      "parameters": {
        "url": "https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid=wwb5e18f9cd5c6b9e4&corpsecret=DmU1-hvByk3lkwcmIo1veHHRPojIWJtCT729iok8RtA",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        304
      ],
      "id": "c8580b02-e909-4eab-8b0e-e6f86a7bea48",
      "name": "获取 Access Token"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// 👇 【必填】将这里的字符串替换成你在企微后台生成的 EncodingAESKey\nconst encodingAESKey = '6N25bnbuG4r0AsrNup97QNj6lE2kPer3bycziA4eXih';\n\n// 1. 获取企微发来的参数，兼容不同的n8n版本\nlet echostr = $input.first().json.query.echostr;\n\nif (!echostr) {\n  return[{ json: { result: \"没有收到echostr参数\" } }];\n}\n\n// ⚠️ 极其关键的一步：修复 HTTP 传输中丢失的加号\nechostr = echostr.replace(/ /g, '+');\n\ntry {\n  // 2. 企微官方的 AES-256-CBC 解密过程\n  const aesCipher = Buffer.from(echostr, 'base64');\n  const aesKey = Buffer.from(encodingAESKey + '=', 'base64');\n  const iv = aesKey.slice(0, 16);\n  \n  const decipher = crypto.createDecipheriv('aes-256-cbc', aesKey, iv);\n  decipher.setAutoPadding(false); // 企微使用自定义补码\n  \n  let decrypted = Buffer.concat([decipher.update(aesCipher), decipher.final()]);\n  \n  // 3. 去除 PKCS#7 补码\n  const pad = decrypted[decrypted.length - 1];\n  decrypted = decrypted.slice(0, decrypted.length - pad);\n  \n  // 4. 解析出明文内容 (跳过前16位随机数，读取4位长度，截取正文)\n  const contentLen = decrypted.readInt32BE(16);\n  const content = decrypted.slice(20, 20 + contentLen).toString('utf8');\n  \n  // 5. 将解密后的纯文本传递给下一个节点\n  return[{ json: { result: content } }];\n  \n} catch (error) {\n  return[{ json: { result: \"解密报错了: \" + error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        336
      ],
      "id": "2ff990d6-c44f-43fe-98e9-7d19db61fd9b",
      "name": "验证码解密"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        336
      ],
      "id": "f4e34b0a-ebd4-4e58-b441-287d11d21e3b",
      "name": "返回验证消息"
    },
    {
      "parameters": {
        "path": "3ad07790-2b33-4309-8baa-aa67265084db",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        336
      ],
      "id": "735e41a3-6a76-4655-80a5-b71afd2a8a1f",
      "name": "获取url验证请求",
      "webhookId": "3ad07790-2b33-4309-8baa-aa67265084db",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "You must invoke this tool whenever a user provides a URL, domain name, or requests to find a website's server IP, country, city, and ISP.\rAfter obtaining the results, please extract the IP address, country, city, and ISP, and report it to the user in a hardcore tech assistant tone.\rAnd let me briefly introduce this software.\rNote: This tool requires a parameter named \"domain\". You must extract the clean domain name or IP address from the user's message and enter it into this parameter.",
        "url": "=http://ip-api.com/json/{{$fromAI('domain')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2880,
        832
      ],
      "id": "46ebdc29-10b0-4ad2-ac6c-f7e89e78b645",
      "name": "查服务器"
    },
    {
      "parameters": {
        "content": "## 给微信发送消息 \n执行完所有节点后，给微信发送消息",
        "height": 464,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        0
      ],
      "id": "f59d53f8-f3ad-43bc-8747-b58c6081bb5e",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_a_joke": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "days_from_now": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_password": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "n8n_blog_rss_feed": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculate_loan_payment": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Your First AI Agent": {
      "main": [
        [
          {
            "node": "获取 Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接受微信消息": {
      "main": [
        [
          {
            "node": "消息解密",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "消息解密": {
      "main": [
        [
          {
            "node": "Your First AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取 Access Token": {
      "main": [
        [
          {
            "node": "发送消息给发起人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证码解密": {
      "main": [
        [
          {
            "node": "返回验证消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取url验证请求": {
      "main": [
        [
          {
            "node": "验证码解密",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查服务器": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "接受微信消息": [
      {
        "json": {
          "headers": {
            "host": "nxiaoin.app.n8n.cloud",
            "user-agent": "Mozilla/4.0",
            "content-length": "607",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "183.47.117.101",
            "cf-ew-via": "15",
            "cf-ipcountry": "CN",
            "cf-ray": "9d7e8f7c1a539f16-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "text/xml",
            "pragma": "no-cache",
            "x-forwarded-for": "183.47.117.101, 172.70.243.189",
            "x-forwarded-host": "nxiaoin.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-89-765d454b7c-z2zhn",
            "x-is-trusted": "yes",
            "x-real-ip": "183.47.117.101"
          },
          "params": {},
          "query": {
            "msg_signature": "9541a19bbf362f2bca3bd111bd8d4f980b7714ea",
            "timestamp": "1772770747",
            "nonce": "1772405989"
          },
          "body": {
            "xml": {
              "tousername": "wwb5e18f9cd5c6b9e4",
              "encrypt": "yvDtuFsHXUp5Giw2MGdo5SdHZssQfkolzjQjXbx/VmT0kFrAeTRVtB0iAAcmbVu0BgESHGD20TMbO5l44XrMbd1tt1VXhgoLnibrbdH50FfYX37Y9Cb4vKKqBeocmG+2l17xL6wf2BCrmYvWVjCC6rHEo6uHXhQRLTdUg5mapselSP/zXkeJkmx+7FMKFcv8OzTX3GjVrNZSbRUq4MsHYSdEoCWFVV39K45NWX40o/o8idITBCVVKCiMsWuhAA3LFaNLO9E4Q3h2xAcmpLMbUIr1b5JbkLnAg5OU4juOF2mDeTlae8xdO9njceMlj/uJg+WnmNTb4VT4G1wKA0ZC4ELUTdOTwr4SdOdYj90BEJnI2a1aRVolLPZ84+pPUBGCKCkkBt9Wz7bcjpQsVbijDyqjzdUOAcMYKwixk9FHZlgPovSfRFBYNcV3s+yodzoVfJJuhPkYIdi1IxeJdkt2lw==",
              "agentid": "1000002"
            }
          },
          "webhookUrl": "https://nxiaoin.app.n8n.cloud/webhook/3ad07790-2b33-4309-8baa-aa67265084db",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "验证码解密": [
      {
        "json": {
          "result": "9001442007845621737"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "返回验证消息": [
      {
        "json": {
          "result": "9001442007845621737"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "获取url验证请求": [
      {
        "json": {
          "headers": {
            "host": "nxiaoin.app.n8n.cloud",
            "user-agent": "Mozilla/4.0",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "106.55.202.215",
            "cf-ew-via": "15",
            "cf-ipcountry": "CN",
            "cf-ray": "9d7e1cfdba93578b-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "pragma": "no-cache",
            "x-forwarded-for": "106.55.202.215, 172.71.247.33",
            "x-forwarded-host": "nxiaoin.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-89-765d454b7c-ktrnz",
            "x-is-trusted": "yes",
            "x-real-ip": "106.55.202.215"
          },
          "params": {},
          "query": {
            "msg_signature": "5b4ffde70eb3a8f03f86b1e7c0f0f5f58315d90b",
            "timestamp": "1772766056",
            "nonce": "1773065866",
            "echostr": "+GB6lJakMTOiF7GxbWiJEbfVKB7lGsn+YetAUP70JUBP1N/fA3LAWwuVeQ4xnOX3a0VBu2tNZLEhopx4ltpd5g=="
          },
          "body": {},
          "webhookUrl": "https://nxiaoin.app.n8n.cloud/webhook/3ad07790-2b33-4309-8baa-aa67265084db",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "e3c98a7d-5713-4713-9beb-2f60880880e8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-15T23:38:10.810Z",
      "createdAt": "2026-03-15T23:38:10.810Z",
      "role": "workflow:owner",
      "workflowId": "wF0njMvokAqmjgpi",
      "projectId": "T1fAu0RPM0YkPUBu"
    }
  ],
  "activeVersion": null,
  "tags": []
}