workflows/__________E4lnie1rII1ARdx8_20260205_000049.json
{
  "updatedAt": "2025-12-25T09:02:38.000Z",
  "createdAt": "2025-12-25T08:59:52.693Z",
  "id": "E4lnie1rII1ARdx8",
  "name": "上海期货交易所采集",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1536,
        352
      ],
      "id": "fd946e0f-abe7-43aa-9761-6f2bebaa06a0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0"
            },
            {
              "name": "Host",
              "value": "www.shfe.com.cn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        352
      ],
      "id": "ada8e2b7-8abf-4a80-bf82-5f1118d5192a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  \n  //获取当前日期函数\n  let date = new Date(),\n      year = date.getFullYear(), month = date.getMonth() + 1, strDate = date.getDate();\n  let = timestamp = date.getTime();\n  if (month < 10) month = `0${month}`\n  if (strDate < 10) strDate = `0${strDate}`\n \n  item.json.url = \"https://www.shfe.com.cn/data/tradedata/future/dailydata/kx\" + `${year}${month}${strDate}` + \".dat\" + \"?params=\" + timestamp;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        352
      ],
      "id": "0cd6c9d6-c209-4c3d-b7ac-e3522952c2db",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae19a360-48b7-42ba-8f45-2bb3b4362a25",
              "name": "o_curinstrument",
              "value": "={{ $json.o_curinstrument }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        352
      ],
      "id": "d1c9b365-9efc-40d1-921e-8d98022f4da3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "o_curinstrument",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -960,
        352
      ],
      "id": "64ef6c60-a848-406b-b93a-f9987af163e1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f3280a7-3ca7-4b30-a657-8a18d60f938c",
              "name": "OPENINTEREST",
              "value": "={{ $json.OPENINTEREST }}",
              "type": "string"
            },
            {
              "id": "dd01d34d-12e4-45ec-a8cd-110294bb1b8b",
              "name": "HIGHESTPRICE",
              "value": "={{ $json.HIGHESTPRICE }}",
              "type": "string"
            },
            {
              "id": "752c616c-d0f1-4e8e-aa53-c2942a871547",
              "name": "TURNOVER",
              "value": "={{ $json.TURNOVER }}",
              "type": "string"
            },
            {
              "id": "c05fde18-a0d7-461e-b8f5-c24f52bcb7f1",
              "name": "TASVOLUME",
              "value": "={{ $json.TASVOLUME }}",
              "type": "string"
            },
            {
              "id": "148da357-a8c0-4804-b963-b1600c583609",
              "name": "PRODUCTGROUPID",
              "value": "={{ $json.PRODUCTGROUPID }}",
              "type": "string"
            },
            {
              "id": "316561fd-eee4-4277-887f-27dcd23dd199",
              "name": "PRODUCTCLASS",
              "value": "={{ $json.PRODUCTCLASS }}",
              "type": "string"
            },
            {
              "id": "8a8e198a-91b0-4b7e-ba1b-c0c608b6a95a",
              "name": "CLOSEPRICE",
              "value": "={{ $json.CLOSEPRICE }}",
              "type": "string"
            },
            {
              "id": "9551b06c-877b-4ffa-a502-5b0cdf57155c",
              "name": "VOLUME",
              "value": "={{ $json.VOLUME }}",
              "type": "string"
            },
            {
              "id": "6949caeb-9f9e-4be8-bf1a-078c836a5d44",
              "name": "OPENINTERESTCHG",
              "value": "={{ $json.OPENINTERESTCHG }}",
              "type": "string"
            },
            {
              "id": "82226854-2438-49a3-abe1-1af98352aba6",
              "name": "PRODUCTID",
              "value": "={{ $json.PRODUCTID }}",
              "type": "string"
            },
            {
              "id": "edbc942c-3ac2-46d4-9461-0659584ec915",
              "name": "PRODUCTNAME",
              "value": "={{ $json.PRODUCTNAME }}",
              "type": "string"
            },
            {
              "id": "6dd5cbd4-1d35-4d22-a40b-3c637b945128",
              "name": "ZD2_CHG",
              "value": "={{ $json.ZD2_CHG }}",
              "type": "string"
            },
            {
              "id": "f3cb2ecb-ab79-49d2-8066-f38a43dcea4d",
              "name": "OPENPRICE",
              "value": "={{ $json.OPENPRICE }}",
              "type": "string"
            },
            {
              "id": "428cf6f3-2c1b-4eaa-9abf-d2765fcc3b86",
              "name": "ZD1_CHG",
              "value": "={{ $json.ZD1_CHG }}",
              "type": "string"
            },
            {
              "id": "d74c275f-01bc-4805-8726-5d8e3a23b2a4",
              "name": "SETTLEMENTPRICE",
              "value": "={{ $json.SETTLEMENTPRICE }}",
              "type": "string"
            },
            {
              "id": "c2a6dd7b-b102-4eda-83f0-7a041677b9c4",
              "name": "DELIVERYMONTH",
              "value": "={{ $json.DELIVERYMONTH }}",
              "type": "string"
            },
            {
              "id": "e73d2c7b-d405-4ce1-81dc-cd860a070033",
              "name": "PRESETTLEMENTPRICE",
              "value": "={{ $json.PRESETTLEMENTPRICE }}",
              "type": "string"
            },
            {
              "id": "a138e96c-e5e6-483f-b683-c3e56a8058b4",
              "name": "LOWESTPRICE",
              "value": "={{ $json.LOWESTPRICE }}",
              "type": "string"
            },
            {
              "id": "c56f989b-5361-4ef7-9201-03f2e8b6dcbe",
              "name": "report_date",
              "value": "={{ $('HTTP Request').item.json.report_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        352
      ],
      "id": "ecd33d93-9ef5-482c-ae0d-4971f4ddcf01",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd33cba9-6ea9-4ade-8bde-a5e675cf9341",
              "leftValue": "={{ $json.DELIVERYMONTH }}",
              "rightValue": "小计",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        352
      ],
      "id": "84eaade1-01d0-4f01-83ba-421ec6ec1cae",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        -192,
        448
      ],
      "id": "27c39b9b-a09a-406c-b0bb-a025bcdef982",
      "name": "feishu"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw",
          "mode": "list",
          "cachedResultName": "有色金属价格数据",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571371312,
          "mode": "list",
          "cachedResultName": "上海期货交易所",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw/edit#gid=571371312"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OPENINTEREST": "={{ $json.OPENINTEREST }}",
            "HIGHESTPRICE": "={{ $json.HIGHESTPRICE }}",
            "TURNOVER": "={{ $json.TURNOVER }}",
            "TASVOLUME": "={{ $json.TASVOLUME }}",
            "PRODUCTGROUPID": "={{ $json.PRODUCTGROUPID }}",
            "PRODUCTCLASS": "={{ $json.PRODUCTCLASS }}",
            "CLOSEPRICE": "={{ $json.CLOSEPRICE }}",
            "VOLUME": "={{ $json.VOLUME }}",
            "OPENINTERESTCHG": "={{ $json.OPENINTERESTCHG }}",
            "PRODUCTID": "={{ $json.PRODUCTID }}",
            "PRODUCTNAME": "={{ $json.PRODUCTNAME }}",
            "ZD2_CHG": "={{ $json.ZD2_CHG }}",
            "OPENPRICE": "={{ $json.OPENPRICE }}",
            "ZD1_CHG": "={{ $json.ZD1_CHG }}",
            "SETTLEMENTPRICE": "={{ $json.SETTLEMENTPRICE }}",
            "DELIVERYMONTH": "={{ $json.DELIVERYMONTH }}",
            "PRESETTLEMENTPRICE": "={{ $json.PRESETTLEMENTPRICE }}",
            "LOWESTPRICE": "={{ $json.LOWESTPRICE }}",
            "report_date": "={{ $json.report_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OPENINTEREST",
              "displayName": "OPENINTEREST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HIGHESTPRICE",
              "displayName": "HIGHESTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TURNOVER",
              "displayName": "TURNOVER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TASVOLUME",
              "displayName": "TASVOLUME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTGROUPID",
              "displayName": "PRODUCTGROUPID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTCLASS",
              "displayName": "PRODUCTCLASS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLOSEPRICE",
              "displayName": "CLOSEPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOLUME",
              "displayName": "VOLUME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENINTERESTCHG",
              "displayName": "OPENINTERESTCHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTID",
              "displayName": "PRODUCTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTNAME",
              "displayName": "PRODUCTNAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD2_CHG",
              "displayName": "ZD2_CHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENPRICE",
              "displayName": "OPENPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD1_CHG",
              "displayName": "ZD1_CHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SETTLEMENTPRICE",
              "displayName": "SETTLEMENTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DELIVERYMONTH",
              "displayName": "DELIVERYMONTH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESETTLEMENTPRICE",
              "displayName": "PRESETTLEMENTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOWESTPRICE",
              "displayName": "LOWESTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -32
      ],
      "id": "694ad9b6-da9a-445f-9725-2f6be42c50a5",
      "name": "google"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "shfe",
          "mode": "list",
          "cachedResultName": "shfe"
        },
        "columnToMatchOn": "report_date",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -192,
        144
      ],
      "id": "94768359-408f-438a-ba48-a013f8d8bb62",
      "name": "aiven"
    },
    {
      "parameters": {
        "contextParameters": {},
        "options": {}
      },
      "type": "n8n-nodes-kingsoft-airscript.kingsoftAirscript",
      "typeVersion": 3,
      "position": [
        -192,
        288
      ],
      "id": "039a789f-4294-4579-ac27-34864bb9c541",
      "name": "wps"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "shfe",
          "mode": "list",
          "cachedResultName": "shfe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OPENINTEREST\r\n": "={{ $json.OPENINTEREST }}",
            "HIGHESTPRICE\r\n": "={{ $json.HIGHESTPRICE }}",
            "TURNOVER\r\n": "={{ $json.TURNOVER }}",
            "TASVOLUME\r\n": "={{ $json.TASVOLUME }}",
            "PRODUCTGROUPID\r\n": "={{ $json.PRODUCTGROUPID }}",
            "PRODUCTCLASS\r\n": "={{ $json.PRODUCTCLASS }}",
            "CLOSEPRICE\r\n": "={{ $json.CLOSEPRICE }}",
            "VOLUME\r\n": "={{ $json.VOLUME }}",
            "OPENINTERESTCHG\r\n": "={{ $json.OPENINTERESTCHG }}",
            "PRODUCTID\r\n": "={{ $json.PRODUCTID }}",
            "PRODUCTNAME\r\n": "={{ $json.PRODUCTNAME }}",
            "ZD2_CHG\r\n": "={{ $json.ZD2_CHG }}",
            "OPENPRICE\r\n": "={{ $json.OPENPRICE }}",
            "ZD1_CHG\r\n": "={{ $json.ZD1_CHG }}",
            "SETTLEMENTPRICE\r\n": "={{ $json.SETTLEMENTPRICE }}",
            "DELIVERYMONTH\r\n": "={{ $json.DELIVERYMONTH }}",
            "PRESETTLEMENTPRICE\r\n": "={{ $json.PRESETTLEMENTPRICE }}",
            "LOWESTPRICE\r\n": "={{ $json.LOWESTPRICE }}",
            "report_date\r\n": "={{ $json.report_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OPENINTEREST\r\n",
              "displayName": "OPENINTEREST\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HIGHESTPRICE\r\n",
              "displayName": "HIGHESTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TURNOVER\r\n",
              "displayName": "TURNOVER\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TASVOLUME\r\n",
              "displayName": "TASVOLUME\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTGROUPID\r\n",
              "displayName": "PRODUCTGROUPID\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTCLASS\r\n",
              "displayName": "PRODUCTCLASS\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLOSEPRICE\r\n",
              "displayName": "CLOSEPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOLUME\r\n",
              "displayName": "VOLUME\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENINTERESTCHG\r\n",
              "displayName": "OPENINTERESTCHG\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTID\r\n",
              "displayName": "PRODUCTID\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTNAME\r\n",
              "displayName": "PRODUCTNAME\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD2_CHG\r\n",
              "displayName": "ZD2_CHG\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENPRICE\r\n",
              "displayName": "OPENPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD1_CHG\r\n",
              "displayName": "ZD1_CHG\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SETTLEMENTPRICE\r\n",
              "displayName": "SETTLEMENTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DELIVERYMONTH\r\n",
              "displayName": "DELIVERYMONTH\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESETTLEMENTPRICE\r\n",
              "displayName": "PRESETTLEMENTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOWESTPRICE\r\n",
              "displayName": "LOWESTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_date\r\n",
              "displayName": "report_date\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        592
      ],
      "id": "45ac1bea-dea3-4d74-af55-b9d1a0ec3b31",
      "name": "supabase"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "aiven",
            "type": "main",
            "index": 0
          },
          {
            "node": "google",
            "type": "main",
            "index": 0
          },
          {
            "node": "supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "wps",
            "type": "main",
            "index": 0
          },
          {
            "node": "feishu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "db585a01-f18c-4efa-8e7e-350c548faa62",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-25T08:59:52.696Z",
      "createdAt": "2025-12-25T08:59:52.696Z",
      "role": "workflow:owner",
      "workflowId": "E4lnie1rII1ARdx8",
      "projectId": "jI4PvfBhXWyLLKDt"
    }
  ],
  "activeVersion": null,
  "tags": []
}