workflows/__________u529WeT5QZAy6yD1_20251230_000028.json
{
  "updatedAt": "2025-12-23T00:42:08.513Z",
  "createdAt": "2025-12-10T02:46:46.890Z",
  "id": "u529WeT5QZAy6yD1",
  "name": "上海黄金交易所采集",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.sge.com.cn/portal/marketAutomation/downloadExcelForQuoteDailyNew?start_date={{ $json.formattedDate }}&end_date={{ $json.formattedDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        656
      ],
      "id": "d48f7c1f-e604-4ffe-9134-963e23578939",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        576,
        656
      ],
      "id": "fb191070-44ee-46f3-9b9a-5dc951516384",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84fa7e63-83ef-41c8-9775-c05d071f9866",
              "name": "日期",
              "value": "={{ $json['日期'] }}",
              "type": "string"
            },
            {
              "id": "7fe99cae-f3de-4f8d-9a61-60a2f6c5c6c3",
              "name": "合约",
              "value": "={{ $json['合约'] }}",
              "type": "string"
            },
            {
              "id": "8ff06318-f419-4ea1-9406-ec7da8943ac6",
              "name": "开盘价",
              "value": "={{ $json['开盘价'] }}",
              "type": "string"
            },
            {
              "id": "088adac1-0d29-4a25-acb3-d067d1e71b07",
              "name": "最高价",
              "value": "={{ $json['最高价'] }}",
              "type": "string"
            },
            {
              "id": "76671792-a1db-4d26-a591-9f9130c77a74",
              "name": "最低价",
              "value": "={{ $json['最低价'] }}",
              "type": "string"
            },
            {
              "id": "bfb077e8-35c3-4444-aa12-78a79fac4e9b",
              "name": "收盘价",
              "value": "={{ $json['收盘价'] }}",
              "type": "string"
            },
            {
              "id": "1fa34643-be18-485b-a9f4-96cfb7a7e6d2",
              "name": "涨跌（元）",
              "value": "={{ $json['涨跌（元）'] }}",
              "type": "string"
            },
            {
              "id": "2364f214-f7fa-4148-8883-0c63ff522c22",
              "name": "涨跌幅",
              "value": "={{ $json['涨跌幅'] }}",
              "type": "string"
            },
            {
              "id": "fba103c2-7dcb-471f-ac8b-ee073d214f46",
              "name": "加权平均价",
              "value": "={{ $json['加权平均价'] }}",
              "type": "string"
            },
            {
              "id": "06791a2f-c780-490f-b55e-99a55b0d1141",
              "name": "成交量（kg）",
              "value": "={{ $json['成交量（kg）'] }}",
              "type": "string"
            },
            {
              "id": "de845f2d-7139-4b05-8e88-c4eaca8c0a58",
              "name": "成交金额（元）",
              "value": "={{ $json['成交金额（元）'] }}",
              "type": "string"
            },
            {
              "id": "5fc3b6c7-e144-4dca-bc76-53f3cd85af42",
              "name": "市场持仓（手）",
              "value": "={{ $json['市场持仓（手）'] }}",
              "type": "string"
            },
            {
              "id": "7a072347-1201-434a-bbc4-e78e7fcccacb",
              "name": "交收方向",
              "value": "={{ $json['交收方向'] }}",
              "type": "string"
            },
            {
              "id": "494bd6fa-a214-4973-8e05-2beebba34855",
              "name": "交收量（手）",
              "value": "={{ $json['交收量（手）'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        656
      ],
      "id": "9dcd06cd-2ee3-4492-af73-de052e860e0f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        656
      ],
      "id": "bf13a777-a180-443c-90ee-0d29f939d662",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        80,
        656
      ],
      "id": "138f85e1-7b3b-4035-9c80-554e3d3f22e9",
      "name": "currentDate"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        656
      ],
      "id": "f050cd98-5eb2-416a-854e-ba92d75150ad",
      "name": "formattedDate"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "sge",
          "mode": "list",
          "cachedResultName": "sge"
        },
        "columnToMatchOn": "日期",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        992,
        272
      ],
      "id": "c9d4974d-b364-46a4-ae14-a857b0dc2e32",
      "name": "aiven",
      "credentials": {
        "mySql": {
          "id": "S5MOE6pmmBbZ6IJi",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "webhookUrl": "https://www.kdocs.cn/api/v3/ide/file/477935488141/script/V2-9znYgs0fJxRuSEECaL1dx/sync_task",
        "contextParameters": {
          "sheetName": "上海黄金交易所"
        },
        "argv": "{\n  \"targetSheetName\": \"上海黄金交易所\",\n  \"日期\": \"{{ $json[\"日期\"] }}\",\n  \"合约\": \"{{ $json['合约'] }}\",\n  \"开盘价\": \"{{ $json['开盘价'] }}\",\n  \"最高价\": \"{{ $json['最高价'] }}\",\n  \"最低价\": \"{{ $json['最低价'] }}\",\n  \"收盘价\": \"{{ $json['收盘价'] }}\",\n  \"涨跌（元）\": \"{{ $json['涨跌（元）'] }}\",\n  \"涨跌幅\": \"{{ $json['涨跌幅'] }}\",\n  \"加权平均价\": \"{{ $json['加权平均价'] }}\",\n  \"成交量（kg）\": \"{{ $json['成交量（kg）'] }}\",\n  \"成交金额（元）\": \"{{ $json['成交金额（元）'] }}\",\n  \"市场持仓（手）\": \"{{ $json['市场持仓（手）'] }}\",\n  \"交收方向\": \"{{ $json['交收方向'] }}\",\n  \"交收量（手）\": \"{{ $json['交收量（手）'] }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-kingsoft-airscript.kingsoftAirscript",
      "typeVersion": 3,
      "position": [
        992,
        496
      ],
      "id": "baa6e6c8-f3ab-40bf-a134-a2b6a5609ffe",
      "name": "wps",
      "credentials": {
        "kingsoftAirscriptApi": {
          "id": "DFb9jRCEzeaq1Zny",
          "name": "金山 AirScript account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "T7PrwwmmYim6OpkgrEMc5dmzncd",
        "table_id": "tbl1vNzxKMideayY",
        "body": "{\n  \"fields\": {\n    \"日期\": \"{{ $json[\"日期\"] }}\",\n    \"合约\": \"{{ $json['合约'] }}\",\n    \"开盘价\": \"{{ $json['开盘价'] }}\",\n    \"最高价\": \"{{ $json['最高价'] }}\",\n    \"最低价\": \"{{ $json['最低价'] }}\",\n    \"收盘价\": \"{{ $json['收盘价'] }}\",\n    \"涨跌（元）\": \"{{ $json['涨跌（元）'] }}\",\n    \"涨跌幅\": \"{{ $json['涨跌幅'] }}\",\n    \"加权平均价\": \"{{ $json['加权平均价'] }}\",\n    \"成交量（kg）\": \"{{ $json['成交量（kg）'] }}\",\n    \"成交金额（元）\": \"{{ $json['成交金额（元）'] }}\",\n    \"市场持仓（手）\": \"{{ $json['市场持仓（手）'] }}\",\n    \"交收方向\": \"{{ $json['交收方向'] }}\",\n    \"交收量（手）\": \"{{ $json['交收量（手）'] }}\"\n  }\n} "
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        992,
        656
      ],
      "id": "9ff61952-6e2f-40b4-b613-e73d899e773e",
      "name": "feishu",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "hGXV5es5OMiALOIo",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sge",
          "mode": "list",
          "cachedResultName": "sge"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "日期",
              "displayName": "日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "合约",
              "displayName": "合约",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "开盘价",
              "displayName": "开盘价",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "最高价",
              "displayName": "最高价",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "最低价",
              "displayName": "最低价",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "收盘价",
              "displayName": "收盘价",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "涨跌（元）",
              "displayName": "涨跌（元）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "涨跌幅",
              "displayName": "涨跌幅",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "加权平均价",
              "displayName": "加权平均价",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "成交量（kg）",
              "displayName": "成交量（kg）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "成交金额（元）",
              "displayName": "成交金额（元）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "市场持仓（手）",
              "displayName": "市场持仓（手）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "交收方向",
              "displayName": "交收方向",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "交收量（手）",
              "displayName": "交收量（手）",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        880
      ],
      "id": "bf79dce2-fb1f-450a-b81b-258749893f1f",
      "name": "supabase",
      "credentials": {
        "postgres": {
          "id": "iajYnFqC0c8OFlMd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4svqA6e1kiDh49Il",
          "mode": "list",
          "cachedResultName": "sge",
          "cachedResultUrl": "/projects/T1fAu0RPM0YkPUBu/datatables/4svqA6e1kiDh49Il"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contract",
              "displayName": "contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "openprice",
              "displayName": "openprice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "highprice",
              "displayName": "highprice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lowprice",
              "displayName": "lowprice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "closeprice",
              "displayName": "closeprice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change",
              "displayName": "change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change_range",
              "displayName": "change_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "weighted_average_price",
              "displayName": "weighted_average_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "volume_amount",
              "displayName": "volume_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "market_positions",
              "displayName": "market_positions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "settlement_direction",
              "displayName": "settlement_direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "settlement_volume",
              "displayName": "settlement_volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        992,
        1072
      ],
      "id": "53cd6d54-4a1c-492d-9386-ceccc7d6b9f5",
      "name": "n8n tables"
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "currentDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentDate": {
      "main": [
        [
          {
            "node": "formattedDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formattedDate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "aiven",
            "type": "main",
            "index": 0
          },
          {
            "node": "wps",
            "type": "main",
            "index": 0
          },
          {
            "node": "feishu",
            "type": "main",
            "index": 0
          },
          {
            "node": "supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "528922d3-aae9-4888-b45d-05f26f3a5d95",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-10T02:46:46.890Z",
      "createdAt": "2025-12-10T02:46:46.890Z",
      "role": "workflow:owner",
      "workflowId": "u529WeT5QZAy6yD1",
      "projectId": "T1fAu0RPM0YkPUBu"
    }
  ],
  "activeVersion": null,
  "tags": []
}