workflows/__________uRLbR9f4dwTqN0RC_20251219_113858.json
{
  "updatedAt": "2025-12-19T03:32:36.202Z",
  "createdAt": "2025-12-02T08:26:50.546Z",
  "id": "uRLbR9f4dwTqN0RC",
  "name": "上海有色网数据采集",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        128
      ],
      "id": "6a3f9e80-e0ed-4c2e-ba13-d9bcc58fd189",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        400
      ],
      "id": "b1adb5c7-b501-4893-9024-c8d432a9f4fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95768ffe-cfb5-43c7-950a-ac47fa9e2c6f",
              "name": "product_id",
              "value": "={{ $json.data.product_id }}",
              "type": "string"
            },
            {
              "id": "36afdbac-b220-4212-a596-542623f06319",
              "name": "highs",
              "value": "={{ $json.data.highs }}",
              "type": "number"
            },
            {
              "id": "4bd59a6a-fde0-472b-af40-8fd0977c065f",
              "name": "low",
              "value": "={{ $json.data.low }}",
              "type": "number"
            },
            {
              "id": "78d77850-6270-49d4-98bc-6b18209bd901",
              "name": "average",
              "value": "={{ $json.data.average }}",
              "type": "number"
            },
            {
              "id": "bef64581-42a9-4afc-bb9f-7ba2cc166ee1",
              "name": "vchange",
              "value": "={{ $json.data.vchange }}",
              "type": "number"
            },
            {
              "id": "21c65c66-0c4f-43b2-8671-fba7138afe78",
              "name": "vchange_rate",
              "value": "={{ $json.data.vchange_rate }}",
              "type": "number"
            },
            {
              "id": "5d1028bd-5d83-4c40-8bb9-49b28380fef4",
              "name": "renew_date",
              "value": "={{ $json.data.renew_date }}",
              "type": "string"
            },
            {
              "id": "b1f5d214-4c4f-4377-94f8-a8552efa644c",
              "name": "low_show",
              "value": "={{ $json.data.low_show }}",
              "type": "number"
            },
            {
              "id": "7cebb41a-dea8-4836-8040-223fbceaa481",
              "name": "high_show",
              "value": "={{ $json.data.high_show }}",
              "type": "number"
            },
            {
              "id": "9127493b-4806-400a-8e63-139d0eee2146",
              "name": "average_show",
              "value": "={{ $json.data.average_show }}",
              "type": "number"
            },
            {
              "id": "bf737e90-f61a-41f8-ad2d-472c8ea5005b",
              "name": "change_value_show",
              "value": "={{ $json.data.change_value_show }}",
              "type": "number"
            },
            {
              "id": "2a3ed555-1868-47ae-8b3e-7c259698dd35",
              "name": "change_rate_show",
              "value": "={{ $json.data.change_rate_show }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "ae0bc0b6-679a-4e54-a501-8fc5ea6666f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1008,
        128
      ],
      "id": "c58a7c77-0cbd-41fb-97f2-1c2209890787",
      "name": "currentDate"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -800,
        128
      ],
      "id": "ef1c087f-e128-45da-9a16-79a699ad0c30",
      "name": "formattedDate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7a55300-dcab-45c1-8283-da0b4e9548a8",
              "name": "urls",
              "value": "=[\"https://hq.smm.cn/ajax/spot/history/201102250376/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201912300001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202002260001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201211190003/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201704240001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202002260003/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250311/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250319/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250397/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250010/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250211/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/2011022500001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250173/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202010210003/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201504080006/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250158/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250239/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202208290001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250140/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250375/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250381/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250059/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201309290001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202208300001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250360/{{ $json.formattedDate }}/{{ $json.formattedDate }}\"\n] ",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        128
      ],
      "id": "57f0370e-64af-49cb-815b-899149aac6a9",
      "name": "setarray"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        128
      ],
      "id": "8993114b-153a-49e3-80a2-aebb8858b705",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -384,
        128
      ],
      "id": "ca66366e-f01b-4eda-866a-c4fb3783217e",
      "name": "SplitUrls"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f6912cb-20b9-407a-a432-b4c75fa70c3f",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        400
      ],
      "id": "b00e87a6-2290-4155-941b-541ccfb3675a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\n// 获取最后一个元素\nconst lastItem = $input.first().json.data[29];\n\n// 创建只包含myNewField的数组\nconst result = [];\n\nfor (const item of items) {\n  result.push({\n    data: lastItem  // 或者 lastItem.data，根据你的需求\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        400
      ],
      "id": "b98fde47-ad06-4eef-9615-89b2b258092f",
      "name": "Code"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "d4K8rADS1yaObOS8",
          "mode": "list",
          "cachedResultName": "smm",
          "cachedResultUrl": "/projects/T1fAu0RPM0YkPUBu/datatables/d4K8rADS1yaObOS8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_id": "={{ $json.product_id }}",
            "highs": "={{ $json.highs }}",
            "low": "={{ $json.low }}",
            "average": "={{ $json.average }}",
            "vchange": "={{ $json.vchange }}",
            "vchange_rate": "={{ $json.vchange_rate }}",
            "renew_date": "={{ $json.renew_date }}",
            "low_show": "={{ $json.low_show }}",
            "high_show": "={{ $json.high_show }}",
            "average_show": "={{ $json.average_show }}",
            "change_value_show": "={{ $json.change_value_show }}",
            "change_rate_show": "={{ $json.change_rate_show }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "highs",
              "displayName": "highs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "low",
              "displayName": "low",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "average",
              "displayName": "average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vchange",
              "displayName": "vchange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vchange_rate",
              "displayName": "vchange_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "renew_date",
              "displayName": "renew_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "low_show",
              "displayName": "low_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "high_show",
              "displayName": "high_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "average_show",
              "displayName": "average_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change_value_show",
              "displayName": "change_value_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change_rate_show",
              "displayName": "change_rate_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        80
      ],
      "id": "27fb848d-9b09-43ce-98a5-b35559135ae2",
      "name": "Insert row"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "smm",
          "mode": "list",
          "cachedResultName": "smm"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "highs": 0,
            "low": 0,
            "average": 0,
            "vchange_rate": 0,
            "low_show": 0,
            "high_show": 0,
            "average_show": 0,
            "change_value_show": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "highs",
              "displayName": "highs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "low",
              "displayName": "low",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "average",
              "displayName": "average",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vchange_rate",
              "displayName": "vchange_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "renew_date",
              "displayName": "renew_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "low_show",
              "displayName": "low_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "high_show",
              "displayName": "high_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "average_show",
              "displayName": "average_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "change_value_show",
              "displayName": "change_value_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "change_rate_show",
              "displayName": "change_rate_show",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vchange",
              "displayName": "vchange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -80
      ],
      "id": "d4874d20-e1f3-4e9b-8702-895c80d51ea6",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "iajYnFqC0c8OFlMd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "SxiEbneywa7kS1s1j7Ec3rJMn2c",
        "table_id": "tblgP2OexQDm2Iyi",
        "body": "={\n      \"fields\": {\n        \"product_id\": \"{{ $json.product_id }}\",\n        \"highs\": \"{{ $json.highs }}\",\n        \"low\": \"{{ $json.low }}\",\n        \"average\": \"{{ $json.average }}\",\n        \"vchange\": \"{{ $json.vchange }}\",\n        \"vchange_rate\": \"{{ $json.vchange_rate }}\",\n        \"renew_date\": \"{{ $json.renew_date }}\",\n        \"low_show\": \"{{ $json.low_show }}\",\n        \"high_show\": \"{{ $json.high_show }}\",\n        \"average_show\": \"{{ $json.average_show }}\",\n        \"change_value_show\": \"{{ $json.change_value_show }}\",\n        \"change_rate_show\": \"{{ $json.change_rate_show }}\"\n      }\n    }"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "ad936d1f-e820-4a30-b9e0-b5ac6bc2fc50",
      "name": "Bitable:table:record:add bitable",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "hGXV5es5OMiALOIo",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "webhookUrl": "https://www.kdocs.cn/api/v3/ide/file/cg0KvMi5ueJG/script/V2-5P9qHzr3wd7vkNK4pz63cQ/sync_task",
        "contextParameters": {
          "sheetName": "上海有色网数据"
        },
        "argv": "={\n  \"targetSheetName\": \"上海有色网数据\",\n  \"product_id\": \"{{ $json.product_id }}\",\n  \"highs\": \"{{ $json.highs }}\",\n  \"low\": \"{{ $json.low }}\",\n  \"average\": \"{{ $json.average }}\",\n  \"vchange\": \"{{ $json.vchange }}\",\n  \"vchange_rate\": \"{{ $json.vchange_rate }}\",\n  \"renew_date\": \"{{ $json.renew_date }}\",\n  \"low_show\": \"{{ $json.low_show }}\",\n  \"high_show\": \"{{ $json.high_show }}\",\n  \"average_show\": \"{{ $json.average_show }}\",\n  \"change_value_show\": \"{{ $json.change_value_show }}\",\n  \"change_rate_show\": \"{{ $json.change_rate_show }}\"\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-kingsoft-airscript.kingsoftAirscript",
      "typeVersion": 3,
      "position": [
        224,
        -256
      ],
      "id": "7a39507d-33d1-48a0-9448-b4e45b326b7c",
      "name": "Kingsoft AirScript",
      "credentials": {
        "kingsoftAirscriptApi": {
          "id": "DFb9jRCEzeaq1Zny",
          "name": "金山 AirScript account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "smmcn",
          "mode": "list",
          "cachedResultName": "smmcn"
        },
        "columnToMatchOn": "renew_date",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        -416
      ],
      "id": "70cbcbd4-4604-4c1d-ad6a-b81a3c4bfb9e",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "S5MOE6pmmBbZ6IJi",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "currentDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bitable:table:record:add bitable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kingsoft AirScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentDate": {
      "main": [
        [
          {
            "node": "formattedDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formattedDate": {
      "main": [
        [
          {
            "node": "setarray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarray": {
      "main": [
        [
          {
            "node": "SplitUrls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitUrls": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75001cfa-d5b6-4a71-a13c-9d59877b8569",
  "activeVersionId": "75001cfa-d5b6-4a71-a13c-9d59877b8569",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-02T08:26:50.546Z",
      "createdAt": "2025-12-02T08:26:50.546Z",
      "role": "workflow:owner",
      "workflowId": "uRLbR9f4dwTqN0RC",
      "projectId": "T1fAu0RPM0YkPUBu"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-19T03:32:38.275Z",
    "createdAt": "2025-12-19T03:32:36.204Z",
    "versionId": "75001cfa-d5b6-4a71-a13c-9d59877b8569",
    "workflowId": "uRLbR9f4dwTqN0RC",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7,
                "triggerAtMinute": 50
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1216,
          128
        ],
        "id": "6a3f9e80-e0ed-4c2e-ba13-d9bcc58fd189",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "={{ $json.urls }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          32,
          400
        ],
        "id": "b1adb5c7-b501-4893-9024-c8d432a9f4fb",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "95768ffe-cfb5-43c7-950a-ac47fa9e2c6f",
                "name": "product_id",
                "value": "={{ $json.data.product_id }}",
                "type": "string"
              },
              {
                "id": "36afdbac-b220-4212-a596-542623f06319",
                "name": "highs",
                "value": "={{ $json.data.highs }}",
                "type": "number"
              },
              {
                "id": "4bd59a6a-fde0-472b-af40-8fd0977c065f",
                "name": "low",
                "value": "={{ $json.data.low }}",
                "type": "number"
              },
              {
                "id": "78d77850-6270-49d4-98bc-6b18209bd901",
                "name": "average",
                "value": "={{ $json.data.average }}",
                "type": "number"
              },
              {
                "id": "bef64581-42a9-4afc-bb9f-7ba2cc166ee1",
                "name": "vchange",
                "value": "={{ $json.data.vchange }}",
                "type": "number"
              },
              {
                "id": "21c65c66-0c4f-43b2-8671-fba7138afe78",
                "name": "vchange_rate",
                "value": "={{ $json.data.vchange_rate }}",
                "type": "number"
              },
              {
                "id": "5d1028bd-5d83-4c40-8bb9-49b28380fef4",
                "name": "renew_date",
                "value": "={{ $json.data.renew_date }}",
                "type": "string"
              },
              {
                "id": "b1f5d214-4c4f-4377-94f8-a8552efa644c",
                "name": "low_show",
                "value": "={{ $json.data.low_show }}",
                "type": "number"
              },
              {
                "id": "7cebb41a-dea8-4836-8040-223fbceaa481",
                "name": "high_show",
                "value": "={{ $json.data.high_show }}",
                "type": "number"
              },
              {
                "id": "9127493b-4806-400a-8e63-139d0eee2146",
                "name": "average_show",
                "value": "={{ $json.data.average_show }}",
                "type": "number"
              },
              {
                "id": "bf737e90-f61a-41f8-ad2d-472c8ea5005b",
                "name": "change_value_show",
                "value": "={{ $json.data.change_value_show }}",
                "type": "number"
              },
              {
                "id": "2a3ed555-1868-47ae-8b3e-7c259698dd35",
                "name": "change_rate_show",
                "value": "={{ $json.data.change_rate_show }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          0
        ],
        "id": "ae0bc0b6-679a-4e54-a501-8fc5ea6666f7",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          -1008,
          128
        ],
        "id": "c58a7c77-0cbd-41fb-97f2-1c2209890787",
        "name": "currentDate"
      },
      {
        "parameters": {
          "operation": "formatDate",
          "date": "={{ $json.currentDate }}",
          "format": "custom",
          "customFormat": "yyyy-MM-dd",
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          -800,
          128
        ],
        "id": "ef1c087f-e128-45da-9a16-79a699ad0c30",
        "name": "formattedDate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a7a55300-dcab-45c1-8283-da0b4e9548a8",
                "name": "urls",
                "value": "=[\"https://hq.smm.cn/ajax/spot/history/201102250376/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201912300001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202002260001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201211190003/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201704240001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202002260003/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250311/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250319/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250397/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250010/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250211/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/2011022500001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250173/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202010210003/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201504080006/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250158/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250239/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202208290001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250140/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250375/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250381/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250059/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201309290001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/202208300001/{{ $json.formattedDate }}/{{ $json.formattedDate }}\",\n\"https://hq.smm.cn/ajax/spot/history/201102250360/{{ $json.formattedDate }}/{{ $json.formattedDate }}\"\n] ",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -592,
          128
        ],
        "id": "57f0370e-64af-49cb-815b-899149aac6a9",
        "name": "setarray"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -192,
          128
        ],
        "id": "8993114b-153a-49e3-80a2-aebb8858b705",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "fieldToSplitOut": "urls",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -384,
          128
        ],
        "id": "ca66366e-f01b-4eda-866a-c4fb3783217e",
        "name": "SplitUrls"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9f6912cb-20b9-407a-a432-b4c75fa70c3f",
                "name": "data",
                "value": "={{ $json.data }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          400
        ],
        "id": "b00e87a6-2290-4155-941b-541ccfb3675a",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\n// 获取最后一个元素\nconst lastItem = $input.first().json.data[29];\n\n// 创建只包含myNewField的数组\nconst result = [];\n\nfor (const item of items) {\n  result.push({\n    data: lastItem  // 或者 lastItem.data，根据你的需求\n  });\n}\n\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          400
        ],
        "id": "b98fde47-ad06-4eef-9615-89b2b258092f",
        "name": "Code"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "d4K8rADS1yaObOS8",
            "mode": "list",
            "cachedResultName": "smm",
            "cachedResultUrl": "/projects/T1fAu0RPM0YkPUBu/datatables/d4K8rADS1yaObOS8"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "product_id": "={{ $json.product_id }}",
              "highs": "={{ $json.highs }}",
              "low": "={{ $json.low }}",
              "average": "={{ $json.average }}",
              "vchange": "={{ $json.vchange }}",
              "vchange_rate": "={{ $json.vchange_rate }}",
              "renew_date": "={{ $json.renew_date }}",
              "low_show": "={{ $json.low_show }}",
              "high_show": "={{ $json.high_show }}",
              "average_show": "={{ $json.average_show }}",
              "change_value_show": "={{ $json.change_value_show }}",
              "change_rate_show": "={{ $json.change_rate_show }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "product_id",
                "displayName": "product_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "highs",
                "displayName": "highs",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "low",
                "displayName": "low",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "average",
                "displayName": "average",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "vchange",
                "displayName": "vchange",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "vchange_rate",
                "displayName": "vchange_rate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "renew_date",
                "displayName": "renew_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "low_show",
                "displayName": "low_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "high_show",
                "displayName": "high_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "average_show",
                "displayName": "average_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "change_value_show",
                "displayName": "change_value_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "change_rate_show",
                "displayName": "change_rate_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          208,
          80
        ],
        "id": "27fb848d-9b09-43ce-98a5-b35559135ae2",
        "name": "Insert row"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "smm",
            "mode": "list",
            "cachedResultName": "smm"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "highs": 0,
              "low": 0,
              "average": 0,
              "vchange_rate": 0,
              "low_show": 0,
              "high_show": 0,
              "average_show": 0,
              "change_value_show": 0
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "product_id",
                "displayName": "product_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "highs",
                "displayName": "highs",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "low",
                "displayName": "low",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "average",
                "displayName": "average",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "vchange_rate",
                "displayName": "vchange_rate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "renew_date",
                "displayName": "renew_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "low_show",
                "displayName": "low_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "high_show",
                "displayName": "high_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "average_show",
                "displayName": "average_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "change_value_show",
                "displayName": "change_value_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "change_rate_show",
                "displayName": "change_rate_show",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "vchange",
                "displayName": "vchange",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          -80
        ],
        "id": "d4874d20-e1f3-4e9b-8702-895c80d51ea6",
        "name": "Insert rows in a table",
        "credentials": {
          "postgres": {
            "id": "iajYnFqC0c8OFlMd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "resource": "bitable",
          "operation": "bitable:table:record:add",
          "app_toke": "SxiEbneywa7kS1s1j7Ec3rJMn2c",
          "table_id": "tblgP2OexQDm2Iyi",
          "body": "={\n      \"fields\": {\n        \"product_id\": \"{{ $json.product_id }}\",\n        \"highs\": \"{{ $json.highs }}\",\n        \"low\": \"{{ $json.low }}\",\n        \"average\": \"{{ $json.average }}\",\n        \"vchange\": \"{{ $json.vchange }}\",\n        \"vchange_rate\": \"{{ $json.vchange_rate }}\",\n        \"renew_date\": \"{{ $json.renew_date }}\",\n        \"low_show\": \"{{ $json.low_show }}\",\n        \"high_show\": \"{{ $json.high_show }}\",\n        \"average_show\": \"{{ $json.average_show }}\",\n        \"change_value_show\": \"{{ $json.change_value_show }}\",\n        \"change_rate_show\": \"{{ $json.change_rate_show }}\"\n      }\n    }"
        },
        "type": "n8n-nodes-feishu-lite.feishuNode",
        "typeVersion": 1,
        "position": [
          208,
          224
        ],
        "id": "ad936d1f-e820-4a30-b9e0-b5ac6bc2fc50",
        "name": "Bitable:table:record:add bitable",
        "credentials": {
          "feishuCredentialsApi": {
            "id": "hGXV5es5OMiALOIo",
            "name": "Feishu Credentials account"
          }
        }
      },
      {
        "parameters": {
          "webhookUrl": "https://www.kdocs.cn/api/v3/ide/file/cg0KvMi5ueJG/script/V2-5P9qHzr3wd7vkNK4pz63cQ/sync_task",
          "contextParameters": {
            "sheetName": "上海有色网数据"
          },
          "argv": "={\n  \"targetSheetName\": \"上海有色网数据\",\n  \"product_id\": \"{{ $json.product_id }}\",\n  \"highs\": \"{{ $json.highs }}\",\n  \"low\": \"{{ $json.low }}\",\n  \"average\": \"{{ $json.average }}\",\n  \"vchange\": \"{{ $json.vchange }}\",\n  \"vchange_rate\": \"{{ $json.vchange_rate }}\",\n  \"renew_date\": \"{{ $json.renew_date }}\",\n  \"low_show\": \"{{ $json.low_show }}\",\n  \"high_show\": \"{{ $json.high_show }}\",\n  \"average_show\": \"{{ $json.average_show }}\",\n  \"change_value_show\": \"{{ $json.change_value_show }}\",\n  \"change_rate_show\": \"{{ $json.change_rate_show }}\"\n}  ",
          "options": {}
        },
        "type": "n8n-nodes-kingsoft-airscript.kingsoftAirscript",
        "typeVersion": 3,
        "position": [
          224,
          -256
        ],
        "id": "7a39507d-33d1-48a0-9448-b4e45b326b7c",
        "name": "Kingsoft AirScript",
        "credentials": {
          "kingsoftAirscriptApi": {
            "id": "DFb9jRCEzeaq1Zny",
            "name": "金山 AirScript account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "table": {
            "__rl": true,
            "value": "smmcn",
            "mode": "list",
            "cachedResultName": "smmcn"
          },
          "columnToMatchOn": "renew_date",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          224,
          -416
        ],
        "id": "70cbcbd4-4604-4c1d-ad6a-b81a3c4bfb9e",
        "name": "Insert or update rows in a table",
        "credentials": {
          "mySql": {
            "id": "S5MOE6pmmBbZ6IJi",
            "name": "MySQL account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "currentDate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            },
            {
              "node": "Bitable:table:record:add bitable",
              "type": "main",
              "index": 0
            },
            {
              "node": "Kingsoft AirScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert or update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "currentDate": {
        "main": [
          [
            {
              "node": "formattedDate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formattedDate": {
        "main": [
          [
            {
              "node": "setarray",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setarray": {
        "main": [
          [
            {
              "node": "SplitUrls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SplitUrls": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "rich fan",
    "name": "Version 75001cfa",
    "description": "",
    "autosaved": false
  },
  "tags": []
}