workflows/__________7wNDRDM8bwtbDVRG_20251222_000052.json
{
  "updatedAt": "2025-12-19T08:56:05.919Z",
  "createdAt": "2025-12-19T03:34:56.709Z",
  "id": "7wNDRDM8bwtbDVRG",
  "name": "上海期货交易所采集",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "352a8e7f-4791-4699-9e72-b7228e030b68",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0"
            },
            {
              "name": "Host",
              "value": "www.shfe.com.cn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ],
      "id": "ffff5edf-dcc9-4c53-95d5-d1f0a678718b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  \n  //获取当前日期函数\n  let date = new Date(),\n      year = date.getFullYear(), month = date.getMonth() + 1, strDate = date.getDate();\n  let = timestamp = date.getTime();\n  if (month < 10) month = `0${month}`\n  if (strDate < 10) strDate = `0${strDate}`\n \n  item.json.url = \"https://www.shfe.com.cn/data/tradedata/future/dailydata/kx\" + `${year}${month}${strDate}` + \".dat\" + \"?params=\" + timestamp;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "32d254e1-b592-4aff-9dd6-1f8eddff823e",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae19a360-48b7-42ba-8f45-2bb3b4362a25",
              "name": "o_curinstrument",
              "value": "={{ $json.o_curinstrument }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "40cfb467-1626-4a97-a360-b2e999de4c7c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "o_curinstrument",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "89650b33-c5ff-4ff2-b38d-1d441715599f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f3280a7-3ca7-4b30-a657-8a18d60f938c",
              "name": "OPENINTEREST",
              "value": "={{ $json.OPENINTEREST }}",
              "type": "string"
            },
            {
              "id": "dd01d34d-12e4-45ec-a8cd-110294bb1b8b",
              "name": "HIGHESTPRICE",
              "value": "={{ $json.HIGHESTPRICE }}",
              "type": "string"
            },
            {
              "id": "752c616c-d0f1-4e8e-aa53-c2942a871547",
              "name": "TURNOVER",
              "value": "={{ $json.TURNOVER }}",
              "type": "string"
            },
            {
              "id": "c05fde18-a0d7-461e-b8f5-c24f52bcb7f1",
              "name": "TASVOLUME",
              "value": "={{ $json.TASVOLUME }}",
              "type": "string"
            },
            {
              "id": "148da357-a8c0-4804-b963-b1600c583609",
              "name": "PRODUCTGROUPID",
              "value": "={{ $json.PRODUCTGROUPID }}",
              "type": "string"
            },
            {
              "id": "316561fd-eee4-4277-887f-27dcd23dd199",
              "name": "PRODUCTCLASS",
              "value": "={{ $json.PRODUCTCLASS }}",
              "type": "string"
            },
            {
              "id": "8a8e198a-91b0-4b7e-ba1b-c0c608b6a95a",
              "name": "CLOSEPRICE",
              "value": "={{ $json.CLOSEPRICE }}",
              "type": "string"
            },
            {
              "id": "9551b06c-877b-4ffa-a502-5b0cdf57155c",
              "name": "VOLUME",
              "value": "={{ $json.VOLUME }}",
              "type": "string"
            },
            {
              "id": "6949caeb-9f9e-4be8-bf1a-078c836a5d44",
              "name": "OPENINTERESTCHG",
              "value": "={{ $json.OPENINTERESTCHG }}",
              "type": "string"
            },
            {
              "id": "82226854-2438-49a3-abe1-1af98352aba6",
              "name": "PRODUCTID",
              "value": "={{ $json.PRODUCTID }}",
              "type": "string"
            },
            {
              "id": "edbc942c-3ac2-46d4-9461-0659584ec915",
              "name": "PRODUCTNAME",
              "value": "={{ $json.PRODUCTNAME }}",
              "type": "string"
            },
            {
              "id": "6dd5cbd4-1d35-4d22-a40b-3c637b945128",
              "name": "ZD2_CHG",
              "value": "={{ $json.ZD2_CHG }}",
              "type": "string"
            },
            {
              "id": "f3cb2ecb-ab79-49d2-8066-f38a43dcea4d",
              "name": "OPENPRICE",
              "value": "={{ $json.OPENPRICE }}",
              "type": "string"
            },
            {
              "id": "428cf6f3-2c1b-4eaa-9abf-d2765fcc3b86",
              "name": "ZD1_CHG",
              "value": "={{ $json.ZD1_CHG }}",
              "type": "string"
            },
            {
              "id": "d74c275f-01bc-4805-8726-5d8e3a23b2a4",
              "name": "SETTLEMENTPRICE",
              "value": "={{ $json.SETTLEMENTPRICE }}",
              "type": "string"
            },
            {
              "id": "c2a6dd7b-b102-4eda-83f0-7a041677b9c4",
              "name": "DELIVERYMONTH",
              "value": "={{ $json.DELIVERYMONTH }}",
              "type": "string"
            },
            {
              "id": "e73d2c7b-d405-4ce1-81dc-cd860a070033",
              "name": "PRESETTLEMENTPRICE",
              "value": "={{ $json.PRESETTLEMENTPRICE }}",
              "type": "string"
            },
            {
              "id": "a138e96c-e5e6-483f-b683-c3e56a8058b4",
              "name": "LOWESTPRICE",
              "value": "={{ $json.LOWESTPRICE }}",
              "type": "string"
            },
            {
              "id": "c56f989b-5361-4ef7-9201-03f2e8b6dcbe",
              "name": "report_date",
              "value": "={{ $('HTTP Request').item.json.report_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "330258e0-282b-41f2-99d4-c60983666330",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd33cba9-6ea9-4ade-8bde-a5e675cf9341",
              "leftValue": "={{ $json.DELIVERYMONTH }}",
              "rightValue": "小计",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "18af9d8e-bf56-425b-94ea-1bc2a3ac99c9",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "ATdhwh2GYixX1dkNvm5cZywInlh",
        "table_id": "tblRmxLZ8KasDMBy",
        "body": "={\n      \"fields\": {\n        \"OPENINTEREST\": \"{{ $json.OPENINTEREST }}\",\n        \"HIGHESTPRICE\": \"{{ $json.HIGHESTPRICE }}\",\n        \"TURNOVER\": \"{{ $json.TURNOVER }}\",\n        \"TASVOLUME\": \"{{ $json.TASVOLUME }}\",\n        \"PRODUCTGROUPID\": \"{{ $json.PRODUCTGROUPID }}\",\n        \"PRODUCTCLASS\": \"{{ $json.PRODUCTCLASS }}\",\n        \"CLOSEPRICE\": \"{{ $json.CLOSEPRICE }}\",\n        \"VOLUME\": \"{{ $json.VOLUME }}\",\n        \"OPENINTERESTCHG\": \"{{ $json.OPENINTERESTCHG }}\",\n        \"PRODUCTID\": \"{{ $json.PRODUCTID }}\",\n        \"PRODUCTNAME\": \"{{ $json.PRODUCTNAME }}\",\n        \"ZD2_CHG\": \"{{ $json.ZD2_CHG }}\",\n        \"OPENPRICE\": \"{{ $json.OPENPRICE }}\",\n        \"ZD1_CHG\": \"{{ $json.ZD1_CHG }}\",\n        \"SETTLEMENTPRICE\": \"{{ $json.SETTLEMENTPRICE }}\",\n        \"DELIVERYMONTH\": \"{{ $json.DELIVERYMONTH }}\",\n        \"PRESETTLEMENTPRICE\": \"{{ $json.PRESETTLEMENTPRICE }}\",\n        \"LOWESTPRICE\": \"{{ $json.LOWESTPRICE }}\",\n        \"report_date\": \"{{ $json.report_date }}\"\n      }\n    }"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1136,
        80
      ],
      "id": "834bd8d3-ef2a-4a4d-9500-508519d00f73",
      "name": "feishu",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "hGXV5es5OMiALOIo",
          "name": "Feishu Credentials account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw",
          "mode": "list",
          "cachedResultName": "有色金属价格数据",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571371312,
          "mode": "list",
          "cachedResultName": "上海期货交易所",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw/edit#gid=571371312"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OPENINTEREST": "{{ $json.OPENINTEREST }}",
            "HIGHESTPRICE": "{{ $json.HIGHESTPRICE }}",
            "TURNOVER": "{{ $json.TURNOVER }}",
            "TASVOLUME": "{{ $json.TASVOLUME }}",
            "PRODUCTGROUPID": "{{ $json.PRODUCTGROUPID }}",
            "PRODUCTCLASS": "{{ $json.PRODUCTCLASS }}",
            "CLOSEPRICE": "{{ $json.CLOSEPRICE }}",
            "VOLUME": "{{ $json.VOLUME }}",
            "OPENINTERESTCHG": "{{ $json.OPENINTERESTCHG }}",
            "PRODUCTID": "{{ $json.PRODUCTID }}",
            "PRODUCTNAME": "{{ $json.PRODUCTNAME }}",
            "ZD2_CHG": "{{ $json.ZD2_CHG }}",
            "OPENPRICE": "{{ $json.OPENPRICE }}",
            "ZD1_CHG": "{{ $json.ZD1_CHG }}",
            "SETTLEMENTPRICE": "{{ $json.SETTLEMENTPRICE }}",
            "DELIVERYMONTH": "{{ $json.DELIVERYMONTH }}",
            "PRESETTLEMENTPRICE": "{{ $json.PRESETTLEMENTPRICE }}",
            "LOWESTPRICE": "{{ $json.LOWESTPRICE }}",
            "report_date": "{{ $json.report_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OPENINTEREST",
              "displayName": "OPENINTEREST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HIGHESTPRICE",
              "displayName": "HIGHESTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TURNOVER",
              "displayName": "TURNOVER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TASVOLUME",
              "displayName": "TASVOLUME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTGROUPID",
              "displayName": "PRODUCTGROUPID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTCLASS",
              "displayName": "PRODUCTCLASS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLOSEPRICE",
              "displayName": "CLOSEPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOLUME",
              "displayName": "VOLUME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENINTERESTCHG",
              "displayName": "OPENINTERESTCHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTID",
              "displayName": "PRODUCTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTNAME",
              "displayName": "PRODUCTNAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD2_CHG",
              "displayName": "ZD2_CHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENPRICE",
              "displayName": "OPENPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD1_CHG",
              "displayName": "ZD1_CHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SETTLEMENTPRICE",
              "displayName": "SETTLEMENTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DELIVERYMONTH",
              "displayName": "DELIVERYMONTH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESETTLEMENTPRICE",
              "displayName": "PRESETTLEMENTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOWESTPRICE",
              "displayName": "LOWESTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -400
      ],
      "id": "578d297a-6a0d-4c12-a165-c87d2d253e22",
      "name": "google",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wvCi2gB3zbtYAQHl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "shfe",
          "mode": "list",
          "cachedResultName": "shfe"
        },
        "columnToMatchOn": "report_date",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1136,
        -240
      ],
      "id": "6247b056-f01a-46c7-aad9-34d39884e96e",
      "name": "aiven",
      "credentials": {
        "mySql": {
          "id": "S5MOE6pmmBbZ6IJi",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "webhookUrl": "https://www.kdocs.cn/api/v3/ide/file/477942158215/script/V2-5jgra2QLOFCk1sy4uzVHq2/sync_task",
        "contextParameters": {
          "sheetName": "上海期货交易所"
        },
        "argv": "={\n  \"targetSheetName\": \"上海期货交易所\",\n  \"OPENINTEREST\": \"{{ $json.OPENINTEREST }}\",\n  \"HIGHESTPRICE\": \"{{ $json.HIGHESTPRICE }}\",\n  \"TURNOVER\": \"{{ $json.TURNOVER }}\",\n  \"TASVOLUME\": \"{{ $json.TASVOLUME }}\",\n  \"PRODUCTGROUPID\": \"{{ $json.PRODUCTGROUPID }}\",\n  \"PRODUCTCLASS\": \"{{ $json.PRODUCTCLASS }}\",\n  \"CLOSEPRICE\": \"{{ $json.CLOSEPRICE }}\",\n  \"VOLUME\": \"{{ $json.VOLUME }}\",\n  \"OPENINTERESTCHG\": \"{{ $json.OPENINTERESTCHG }}\",\n  \"PRODUCTID\": \"{{ $json.PRODUCTID }}\",\n  \"PRODUCTNAME\": \"{{ $json.PRODUCTNAME }}\",\n  \"ZD2_CHG\": \"{{ $json.ZD2_CHG }}\",\n  \"OPENPRICE\": \"{{ $json.OPENPRICE }}\",\n  \"ZD1_CHG\": \"{{ $json.ZD1_CHG }}\",\n  \"SETTLEMENTPRICE\": \"{{ $json.SETTLEMENTPRICE }}\",\n  \"DELIVERYMONTH\": \"{{ $json.DELIVERYMONTH }}\",\n  \"PRESETTLEMENTPRICE\": \"{{ $json.PRESETTLEMENTPRICE }}\",\n  \"LOWESTPRICE\": \"{{ $json.LOWESTPRICE }}\",\n  \"report_date\": \"{{ $json.report_date }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-kingsoft-airscript.kingsoftAirscript",
      "typeVersion": 3,
      "position": [
        1136,
        -80
      ],
      "id": "ba0442b6-5bab-4e7b-b88e-703282d72f8d",
      "name": "wps",
      "credentials": {
        "kingsoftAirscriptApi": {
          "id": "DFb9jRCEzeaq1Zny",
          "name": "金山 AirScript account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "shfe",
          "mode": "list",
          "cachedResultName": "shfe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OPENINTEREST\r\n": "={{ $json.OPENINTEREST }}",
            "HIGHESTPRICE\r\n": "={{ $json.HIGHESTPRICE }}",
            "TURNOVER\r\n": "={{ $json.TURNOVER }}",
            "TASVOLUME\r\n": "={{ $json.TASVOLUME }}",
            "PRODUCTGROUPID\r\n": "={{ $json.PRODUCTGROUPID }}",
            "PRODUCTCLASS\r\n": "={{ $json.PRODUCTCLASS }}",
            "CLOSEPRICE\r\n": "={{ $json.CLOSEPRICE }}",
            "VOLUME\r\n": "={{ $json.VOLUME }}",
            "OPENINTERESTCHG\r\n": "={{ $json.OPENINTERESTCHG }}",
            "PRODUCTID\r\n": "={{ $json.PRODUCTID }}",
            "PRODUCTNAME\r\n": "={{ $json.PRODUCTNAME }}",
            "ZD2_CHG\r\n": "={{ $json.ZD2_CHG }}",
            "OPENPRICE\r\n": "={{ $json.OPENPRICE }}",
            "ZD1_CHG\r\n": "={{ $json.ZD1_CHG }}",
            "SETTLEMENTPRICE\r\n": "={{ $json.SETTLEMENTPRICE }}",
            "DELIVERYMONTH\r\n": "={{ $json.DELIVERYMONTH }}",
            "PRESETTLEMENTPRICE\r\n": "={{ $json.PRESETTLEMENTPRICE }}",
            "LOWESTPRICE\r\n": "={{ $json.LOWESTPRICE }}",
            "report_date\r\n": "={{ $json.report_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OPENINTEREST\r\n",
              "displayName": "OPENINTEREST\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HIGHESTPRICE\r\n",
              "displayName": "HIGHESTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TURNOVER\r\n",
              "displayName": "TURNOVER\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TASVOLUME\r\n",
              "displayName": "TASVOLUME\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTGROUPID\r\n",
              "displayName": "PRODUCTGROUPID\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTCLASS\r\n",
              "displayName": "PRODUCTCLASS\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLOSEPRICE\r\n",
              "displayName": "CLOSEPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VOLUME\r\n",
              "displayName": "VOLUME\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENINTERESTCHG\r\n",
              "displayName": "OPENINTERESTCHG\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTID\r\n",
              "displayName": "PRODUCTID\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCTNAME\r\n",
              "displayName": "PRODUCTNAME\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD2_CHG\r\n",
              "displayName": "ZD2_CHG\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OPENPRICE\r\n",
              "displayName": "OPENPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZD1_CHG\r\n",
              "displayName": "ZD1_CHG\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SETTLEMENTPRICE\r\n",
              "displayName": "SETTLEMENTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DELIVERYMONTH\r\n",
              "displayName": "DELIVERYMONTH\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESETTLEMENTPRICE\r\n",
              "displayName": "PRESETTLEMENTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOWESTPRICE\r\n",
              "displayName": "LOWESTPRICE\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_date\r\n",
              "displayName": "report_date\r\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        240
      ],
      "id": "49108968-b59e-4212-b47b-bac9f9a191d9",
      "name": "supabase",
      "credentials": {
        "postgres": {
          "id": "iajYnFqC0c8OFlMd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "yCXD5Za2DtBLngng",
          "mode": "list",
          "cachedResultName": "shfe",
          "cachedResultUrl": "/projects/T1fAu0RPM0YkPUBu/datatables/yCXD5Za2DtBLngng"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "OPENINTEREST",
              "displayName": "OPENINTEREST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HIGHESTPRICE",
              "displayName": "HIGHESTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRODUCTGROUPID",
              "displayName": "PRODUCTGROUPID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TASVOLUME",
              "displayName": "TASVOLUME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TURNOVER",
              "displayName": "TURNOVER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRODUCTCLASS",
              "displayName": "PRODUCTCLASS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CLOSEPRICE",
              "displayName": "CLOSEPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VOLUME",
              "displayName": "VOLUME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPENINTERESTCHG",
              "displayName": "OPENINTERESTCHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRODUCTID",
              "displayName": "PRODUCTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRODUCTNAME",
              "displayName": "PRODUCTNAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ZD2_CHG",
              "displayName": "ZD2_CHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OPENPRICE",
              "displayName": "OPENPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ZD1_CHG",
              "displayName": "ZD1_CHG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SETTLEMENTPRICE",
              "displayName": "SETTLEMENTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DELIVERYMONTH",
              "displayName": "DELIVERYMONTH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRESETTLEMENTPRICE",
              "displayName": "PRESETTLEMENTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LOWESTPRICE",
              "displayName": "LOWESTPRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        384
      ],
      "id": "51753feb-8185-41fb-9fb4-81cab50521ef",
      "name": "n8n tables"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "aiven",
            "type": "main",
            "index": 0
          },
          {
            "node": "google",
            "type": "main",
            "index": 0
          },
          {
            "node": "feishu",
            "type": "main",
            "index": 0
          },
          {
            "node": "wps",
            "type": "main",
            "index": 0
          },
          {
            "node": "supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6fb72d41-4c87-4b5a-85c0-a9ccdb48e70c",
  "activeVersionId": "f3ec87f3-ed0f-400c-8c04-9f3c1fc3f3b5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-19T03:34:56.709Z",
      "createdAt": "2025-12-19T03:34:56.709Z",
      "role": "workflow:owner",
      "workflowId": "7wNDRDM8bwtbDVRG",
      "projectId": "T1fAu0RPM0YkPUBu"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-19T08:41:36.477Z",
    "createdAt": "2025-12-19T08:41:34.445Z",
    "versionId": "f3ec87f3-ed0f-400c-8c04-9f3c1fc3f3b5",
    "workflowId": "7wNDRDM8bwtbDVRG",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9,
                "triggerAtMinute": 50
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "352a8e7f-4791-4699-9e72-b7228e030b68",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0"
              },
              {
                "name": "Host",
                "value": "www.shfe.com.cn"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          304,
          0
        ],
        "id": "ffff5edf-dcc9-4c53-95d5-d1f0a678718b",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  \n  //获取当前日期函数\n  let date = new Date(),\n      year = date.getFullYear(), month = date.getMonth() + 1, strDate = date.getDate();\n  let = timestamp = date.getTime();\n  if (month < 10) month = `0${month}`\n  if (strDate < 10) strDate = `0${strDate}`\n \n  item.json.url = \"https://www.shfe.com.cn/data/tradedata/future/dailydata/kx\" + `${year}${month}${strDate}` + \".dat\" + \"?params=\" + timestamp;\n  \n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          0
        ],
        "id": "32d254e1-b592-4aff-9dd6-1f8eddff823e",
        "name": "Code"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ae19a360-48b7-42ba-8f45-2bb3b4362a25",
                "name": "o_curinstrument",
                "value": "={{ $json.o_curinstrument }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          0
        ],
        "id": "40cfb467-1626-4a97-a360-b2e999de4c7c",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "o_curinstrument",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          576,
          0
        ],
        "id": "89650b33-c5ff-4ff2-b38d-1d441715599f",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f3280a7-3ca7-4b30-a657-8a18d60f938c",
                "name": "OPENINTEREST",
                "value": "={{ $json.OPENINTEREST }}",
                "type": "string"
              },
              {
                "id": "dd01d34d-12e4-45ec-a8cd-110294bb1b8b",
                "name": "HIGHESTPRICE",
                "value": "={{ $json.HIGHESTPRICE }}",
                "type": "string"
              },
              {
                "id": "752c616c-d0f1-4e8e-aa53-c2942a871547",
                "name": "TURNOVER",
                "value": "={{ $json.TURNOVER }}",
                "type": "string"
              },
              {
                "id": "c05fde18-a0d7-461e-b8f5-c24f52bcb7f1",
                "name": "TASVOLUME",
                "value": "={{ $json.TASVOLUME }}",
                "type": "string"
              },
              {
                "id": "148da357-a8c0-4804-b963-b1600c583609",
                "name": "PRODUCTGROUPID",
                "value": "={{ $json.PRODUCTGROUPID }}",
                "type": "string"
              },
              {
                "id": "316561fd-eee4-4277-887f-27dcd23dd199",
                "name": "PRODUCTCLASS",
                "value": "={{ $json.PRODUCTCLASS }}",
                "type": "string"
              },
              {
                "id": "8a8e198a-91b0-4b7e-ba1b-c0c608b6a95a",
                "name": "CLOSEPRICE",
                "value": "={{ $json.CLOSEPRICE }}",
                "type": "string"
              },
              {
                "id": "9551b06c-877b-4ffa-a502-5b0cdf57155c",
                "name": "VOLUME",
                "value": "={{ $json.VOLUME }}",
                "type": "string"
              },
              {
                "id": "6949caeb-9f9e-4be8-bf1a-078c836a5d44",
                "name": "OPENINTERESTCHG",
                "value": "={{ $json.OPENINTERESTCHG }}",
                "type": "string"
              },
              {
                "id": "82226854-2438-49a3-abe1-1af98352aba6",
                "name": "PRODUCTID",
                "value": "={{ $json.PRODUCTID }}",
                "type": "string"
              },
              {
                "id": "edbc942c-3ac2-46d4-9461-0659584ec915",
                "name": "PRODUCTNAME",
                "value": "={{ $json.PRODUCTNAME }}",
                "type": "string"
              },
              {
                "id": "6dd5cbd4-1d35-4d22-a40b-3c637b945128",
                "name": "ZD2_CHG",
                "value": "={{ $json.ZD2_CHG }}",
                "type": "string"
              },
              {
                "id": "f3cb2ecb-ab79-49d2-8066-f38a43dcea4d",
                "name": "OPENPRICE",
                "value": "={{ $json.OPENPRICE }}",
                "type": "string"
              },
              {
                "id": "428cf6f3-2c1b-4eaa-9abf-d2765fcc3b86",
                "name": "ZD1_CHG",
                "value": "={{ $json.ZD1_CHG }}",
                "type": "string"
              },
              {
                "id": "d74c275f-01bc-4805-8726-5d8e3a23b2a4",
                "name": "SETTLEMENTPRICE",
                "value": "={{ $json.SETTLEMENTPRICE }}",
                "type": "string"
              },
              {
                "id": "c2a6dd7b-b102-4eda-83f0-7a041677b9c4",
                "name": "DELIVERYMONTH",
                "value": "={{ $json.DELIVERYMONTH }}",
                "type": "string"
              },
              {
                "id": "e73d2c7b-d405-4ce1-81dc-cd860a070033",
                "name": "PRESETTLEMENTPRICE",
                "value": "={{ $json.PRESETTLEMENTPRICE }}",
                "type": "string"
              },
              {
                "id": "a138e96c-e5e6-483f-b683-c3e56a8058b4",
                "name": "LOWESTPRICE",
                "value": "={{ $json.LOWESTPRICE }}",
                "type": "string"
              },
              {
                "id": "c56f989b-5361-4ef7-9201-03f2e8b6dcbe",
                "name": "report_date",
                "value": "={{ $('HTTP Request').item.json.report_date }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          0
        ],
        "id": "330258e0-282b-41f2-99d4-c60983666330",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cd33cba9-6ea9-4ade-8bde-a5e675cf9341",
                "leftValue": "={{ $json.DELIVERYMONTH }}",
                "rightValue": "小计",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          0
        ],
        "id": "18af9d8e-bf56-425b-94ea-1bc2a3ac99c9",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "bitable",
          "operation": "bitable:table:record:add",
          "app_toke": "ATdhwh2GYixX1dkNvm5cZywInlh",
          "table_id": "tblRmxLZ8KasDMBy",
          "body": "{\n      \"fields\": {\n        \"product_id\": \"{{ $json.product_id }}\",\n        \"highs\": \"{{ $json.highs }}\",\n        \"low\": \"{{ $json.low }}\",\n        \"average\": \"{{ $json.average }}\",\n        \"vchange\": \"{{ $json.vchange }}\",\n        \"renew_date\": \"{{ $json.renew_date }}\",\n        \"vchange_rate\": \"{{ $json.vchange_rate }}\"\n      }\n    } "
        },
        "type": "n8n-nodes-feishu-lite.feishuNode",
        "typeVersion": 1,
        "position": [
          1136,
          80
        ],
        "id": "834bd8d3-ef2a-4a4d-9500-508519d00f73",
        "name": "feishu",
        "credentials": {
          "feishuCredentialsApi": {
            "id": "hGXV5es5OMiALOIo",
            "name": "Feishu Credentials account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw",
            "mode": "list",
            "cachedResultName": "有色金属价格数据",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 571371312,
            "mode": "list",
            "cachedResultName": "上海期货交易所",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sc0VLjnuPXnQ1ALvVU6sw_r8g20W4SZkkfgbhPM_PHw/edit#gid=571371312"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "OPENINTEREST": "{{ $json.OPENINTEREST }}",
              "HIGHESTPRICE": "{{ $json.HIGHESTPRICE }}",
              "TURNOVER": "{{ $json.TURNOVER }}",
              "TASVOLUME": "{{ $json.TASVOLUME }}",
              "PRODUCTGROUPID": "{{ $json.PRODUCTGROUPID }}",
              "PRODUCTCLASS": "{{ $json.PRODUCTCLASS }}",
              "CLOSEPRICE": "{{ $json.CLOSEPRICE }}",
              "VOLUME": "{{ $json.VOLUME }}",
              "OPENINTERESTCHG": "{{ $json.OPENINTERESTCHG }}",
              "PRODUCTID": "{{ $json.PRODUCTID }}",
              "PRODUCTNAME": "{{ $json.PRODUCTNAME }}",
              "ZD2_CHG": "{{ $json.ZD2_CHG }}",
              "OPENPRICE": "{{ $json.OPENPRICE }}",
              "ZD1_CHG": "{{ $json.ZD1_CHG }}",
              "SETTLEMENTPRICE": "{{ $json.SETTLEMENTPRICE }}",
              "DELIVERYMONTH": "{{ $json.DELIVERYMONTH }}",
              "PRESETTLEMENTPRICE": "{{ $json.PRESETTLEMENTPRICE }}",
              "LOWESTPRICE": "{{ $json.LOWESTPRICE }}",
              "report_date": "{{ $json.report_date }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "OPENINTEREST",
                "displayName": "OPENINTEREST",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HIGHESTPRICE",
                "displayName": "HIGHESTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TURNOVER",
                "displayName": "TURNOVER",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TASVOLUME",
                "displayName": "TASVOLUME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTGROUPID",
                "displayName": "PRODUCTGROUPID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTCLASS",
                "displayName": "PRODUCTCLASS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CLOSEPRICE",
                "displayName": "CLOSEPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "VOLUME",
                "displayName": "VOLUME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "OPENINTERESTCHG",
                "displayName": "OPENINTERESTCHG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTID",
                "displayName": "PRODUCTID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTNAME",
                "displayName": "PRODUCTNAME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ZD2_CHG",
                "displayName": "ZD2_CHG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "OPENPRICE",
                "displayName": "OPENPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ZD1_CHG",
                "displayName": "ZD1_CHG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SETTLEMENTPRICE",
                "displayName": "SETTLEMENTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DELIVERYMONTH",
                "displayName": "DELIVERYMONTH",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRESETTLEMENTPRICE",
                "displayName": "PRESETTLEMENTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "LOWESTPRICE",
                "displayName": "LOWESTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "report_date",
                "displayName": "report_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1152,
          -400
        ],
        "id": "578d297a-6a0d-4c12-a165-c87d2d253e22",
        "name": "google",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "wvCi2gB3zbtYAQHl",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "table": {
            "__rl": true,
            "value": "shfe",
            "mode": "list",
            "cachedResultName": "shfe"
          },
          "columnToMatchOn": "report_date",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1136,
          -240
        ],
        "id": "6247b056-f01a-46c7-aad9-34d39884e96e",
        "name": "aiven",
        "credentials": {
          "mySql": {
            "id": "S5MOE6pmmBbZ6IJi",
            "name": "MySQL account"
          }
        }
      },
      {
        "parameters": {
          "webhookUrl": "https://www.kdocs.cn/api/v3/ide/file/477942158215/script/V2-5jgra2QLOFCk1sy4uzVHq2/sync_task",
          "contextParameters": {
            "sheetName": "上海期货交易所"
          },
          "argv": "{\n  \"targetSheetName\": \"上海期货交易所\",\n  \"title\": \"{{ $json.output.title }}\"\n} \n",
          "options": {}
        },
        "type": "n8n-nodes-kingsoft-airscript.kingsoftAirscript",
        "typeVersion": 3,
        "position": [
          1136,
          -96
        ],
        "id": "ba0442b6-5bab-4e7b-b88e-703282d72f8d",
        "name": "wps",
        "credentials": {
          "kingsoftAirscriptApi": {
            "id": "DFb9jRCEzeaq1Zny",
            "name": "金山 AirScript account"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "shfe",
            "mode": "list",
            "cachedResultName": "shfe"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "OPENINTEREST\r\n",
                "displayName": "OPENINTEREST\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HIGHESTPRICE\r\n",
                "displayName": "HIGHESTPRICE\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TURNOVER\r\n",
                "displayName": "TURNOVER\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TASVOLUME\r\n",
                "displayName": "TASVOLUME\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTGROUPID\r\n",
                "displayName": "PRODUCTGROUPID\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTCLASS\r\n",
                "displayName": "PRODUCTCLASS\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CLOSEPRICE\r\n",
                "displayName": "CLOSEPRICE\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "VOLUME\r\n",
                "displayName": "VOLUME\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "OPENINTERESTCHG\r\n",
                "displayName": "OPENINTERESTCHG\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTID\r\n",
                "displayName": "PRODUCTID\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRODUCTNAME\r\n",
                "displayName": "PRODUCTNAME\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ZD2_CHG\r\n",
                "displayName": "ZD2_CHG\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "OPENPRICE\r\n",
                "displayName": "OPENPRICE\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ZD1_CHG\r\n",
                "displayName": "ZD1_CHG\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SETTLEMENTPRICE\r\n",
                "displayName": "SETTLEMENTPRICE\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DELIVERYMONTH\r\n",
                "displayName": "DELIVERYMONTH\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRESETTLEMENTPRICE\r\n",
                "displayName": "PRESETTLEMENTPRICE\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "LOWESTPRICE\r\n",
                "displayName": "LOWESTPRICE\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "report_date\r\n",
                "displayName": "report_date\r\n",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1120,
          240
        ],
        "id": "49108968-b59e-4212-b47b-bac9f9a191d9",
        "name": "supabase",
        "credentials": {
          "postgres": {
            "id": "iajYnFqC0c8OFlMd",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "yCXD5Za2DtBLngng",
            "mode": "list",
            "cachedResultName": "shfe",
            "cachedResultUrl": "/projects/T1fAu0RPM0YkPUBu/datatables/yCXD5Za2DtBLngng"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "OPENINTEREST",
                "displayName": "OPENINTEREST",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "HIGHESTPRICE",
                "displayName": "HIGHESTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PRODUCTGROUPID",
                "displayName": "PRODUCTGROUPID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "TASVOLUME",
                "displayName": "TASVOLUME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "TURNOVER",
                "displayName": "TURNOVER",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PRODUCTCLASS",
                "displayName": "PRODUCTCLASS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "CLOSEPRICE",
                "displayName": "CLOSEPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "VOLUME",
                "displayName": "VOLUME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "OPENINTERESTCHG",
                "displayName": "OPENINTERESTCHG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PRODUCTID",
                "displayName": "PRODUCTID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PRODUCTNAME",
                "displayName": "PRODUCTNAME",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ZD2_CHG",
                "displayName": "ZD2_CHG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "OPENPRICE",
                "displayName": "OPENPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ZD1_CHG",
                "displayName": "ZD1_CHG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "SETTLEMENTPRICE",
                "displayName": "SETTLEMENTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "DELIVERYMONTH",
                "displayName": "DELIVERYMONTH",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PRESETTLEMENTPRICE",
                "displayName": "PRESETTLEMENTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "LOWESTPRICE",
                "displayName": "LOWESTPRICE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "report_date",
                "displayName": "report_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1136,
          384
        ],
        "id": "51753feb-8185-41fb-9fb4-81cab50521ef",
        "name": "n8n tables"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "aiven",
              "type": "main",
              "index": 0
            },
            {
              "node": "google",
              "type": "main",
              "index": 0
            },
            {
              "node": "feishu",
              "type": "main",
              "index": 0
            },
            {
              "node": "wps",
              "type": "main",
              "index": 0
            },
            {
              "node": "supabase",
              "type": "main",
              "index": 0
            },
            {
              "node": "n8n tables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "rich fan",
    "name": "Version f3ec87f3",
    "description": "",
    "autosaved": false
  },
  "tags": []
}