workflows/sge_aGK2Ul0W6XHWWITk_20251218_000006.json
{
  "updatedAt": "2025-11-17T02:15:30.000Z",
  "createdAt": "2025-11-10T09:45:28.700Z",
  "id": "aGK2Ul0W6XHWWITk",
  "name": "sge",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.sge.com.cn/portal/marketAutomation/downloadExcelForQuoteDailyNew?start_date={{ $json.formattedDate }}&end_date={{ $json.formattedDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        112
      ],
      "id": "a0aba9d8-4727-4da2-b6e2-b0bcac8efd1c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        848,
        112
      ],
      "id": "6d9cabf7-52ac-4499-b40b-f487794b84db",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84fa7e63-83ef-41c8-9775-c05d071f9866",
              "name": "日期",
              "value": "={{ $json['日期'] }}",
              "type": "string"
            },
            {
              "id": "7fe99cae-f3de-4f8d-9a61-60a2f6c5c6c3",
              "name": "合约",
              "value": "={{ $json['合约'] }}",
              "type": "string"
            },
            {
              "id": "8ff06318-f419-4ea1-9406-ec7da8943ac6",
              "name": "开盘价",
              "value": "={{ $json['开盘价'] }}",
              "type": "string"
            },
            {
              "id": "088adac1-0d29-4a25-acb3-d067d1e71b07",
              "name": "最高价",
              "value": "={{ $json['最高价'] }}",
              "type": "string"
            },
            {
              "id": "76671792-a1db-4d26-a591-9f9130c77a74",
              "name": "最低价",
              "value": "={{ $json['最低价'] }}",
              "type": "string"
            },
            {
              "id": "bfb077e8-35c3-4444-aa12-78a79fac4e9b",
              "name": "收盘价",
              "value": "={{ $json['收盘价'] }}",
              "type": "string"
            },
            {
              "id": "1fa34643-be18-485b-a9f4-96cfb7a7e6d2",
              "name": "涨跌（元）",
              "value": "={{ $json['涨跌（元）'] }}",
              "type": "string"
            },
            {
              "id": "2364f214-f7fa-4148-8883-0c63ff522c22",
              "name": "涨跌幅",
              "value": "={{ $json['涨跌幅'] }}",
              "type": "string"
            },
            {
              "id": "fba103c2-7dcb-471f-ac8b-ee073d214f46",
              "name": "加权平均价",
              "value": "={{ $json['加权平均价'] }}",
              "type": "string"
            },
            {
              "id": "06791a2f-c780-490f-b55e-99a55b0d1141",
              "name": "成交量（kg）",
              "value": "={{ $json['成交量（kg）'] }}",
              "type": "string"
            },
            {
              "id": "de845f2d-7139-4b05-8e88-c4eaca8c0a58",
              "name": "成交金额（元）",
              "value": "={{ $json['成交金额（元）'] }}",
              "type": "string"
            },
            {
              "id": "5fc3b6c7-e144-4dca-bc76-53f3cd85af42",
              "name": "市场持仓（手）",
              "value": "={{ $json['市场持仓（手）'] }}",
              "type": "string"
            },
            {
              "id": "7a072347-1201-434a-bbc4-e78e7fcccacb",
              "name": "交收方向",
              "value": "={{ $json['交收方向'] }}",
              "type": "string"
            },
            {
              "id": "494bd6fa-a214-4973-8e05-2beebba34855",
              "name": "交收量（手）",
              "value": "={{ $json['交收量（手）'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        112
      ],
      "id": "5fb0358f-4080-4b88-9b2d-a1e25ed98497",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        176,
        112
      ],
      "id": "ddcb86fe-0401-4cff-8936-ea900d3b7ab3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        368,
        112
      ],
      "id": "f72770c3-9703-4cd9-a588-bd6e4c736877",
      "name": "currentDate"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        512,
        112
      ],
      "id": "8be973ab-e07b-416f-8cc5-c4f8604e1f9d",
      "name": "formattedDate"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "sge",
          "mode": "list",
          "cachedResultName": "sge"
        },
        "columnToMatchOn": "日期",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1248,
        112
      ],
      "id": "543f1cad-033e-4f9a-89df-6007c6b849aa",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "t9uO56ilinkwpsKR",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "currentDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentDate": {
      "main": [
        [
          {
            "node": "formattedDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formattedDate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "023f636b-e2fe-4bb4-b214-cb0e4e48fcc6",
  "activeVersionId": "023f636b-e2fe-4bb4-b214-cb0e4e48fcc6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-10T09:45:28.705Z",
      "createdAt": "2025-11-10T09:45:28.705Z",
      "role": "workflow:owner",
      "workflowId": "aGK2Ul0W6XHWWITk",
      "projectId": "2KZknanlM1yBuuvy"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-03T09:28:06.918Z",
    "createdAt": "2025-12-03T09:28:06.918Z",
    "versionId": "023f636b-e2fe-4bb4-b214-cb0e4e48fcc6",
    "workflowId": "aGK2Ul0W6XHWWITk",
    "nodes": [
      {
        "parameters": {
          "url": "=https://www.sge.com.cn/portal/marketAutomation/downloadExcelForQuoteDailyNew?start_date={{ $json.formattedDate }}&end_date={{ $json.formattedDate }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          112
        ],
        "id": "a0aba9d8-4727-4da2-b6e2-b0bcac8efd1c",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          848,
          112
        ],
        "id": "6d9cabf7-52ac-4499-b40b-f487794b84db",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "84fa7e63-83ef-41c8-9775-c05d071f9866",
                "name": "日期",
                "value": "={{ $json['日期'] }}",
                "type": "string"
              },
              {
                "id": "7fe99cae-f3de-4f8d-9a61-60a2f6c5c6c3",
                "name": "合约",
                "value": "={{ $json['合约'] }}",
                "type": "string"
              },
              {
                "id": "8ff06318-f419-4ea1-9406-ec7da8943ac6",
                "name": "开盘价",
                "value": "={{ $json['开盘价'] }}",
                "type": "string"
              },
              {
                "id": "088adac1-0d29-4a25-acb3-d067d1e71b07",
                "name": "最高价",
                "value": "={{ $json['最高价'] }}",
                "type": "string"
              },
              {
                "id": "76671792-a1db-4d26-a591-9f9130c77a74",
                "name": "最低价",
                "value": "={{ $json['最低价'] }}",
                "type": "string"
              },
              {
                "id": "bfb077e8-35c3-4444-aa12-78a79fac4e9b",
                "name": "收盘价",
                "value": "={{ $json['收盘价'] }}",
                "type": "string"
              },
              {
                "id": "1fa34643-be18-485b-a9f4-96cfb7a7e6d2",
                "name": "涨跌（元）",
                "value": "={{ $json['涨跌（元）'] }}",
                "type": "string"
              },
              {
                "id": "2364f214-f7fa-4148-8883-0c63ff522c22",
                "name": "涨跌幅",
                "value": "={{ $json['涨跌幅'] }}",
                "type": "string"
              },
              {
                "id": "fba103c2-7dcb-471f-ac8b-ee073d214f46",
                "name": "加权平均价",
                "value": "={{ $json['加权平均价'] }}",
                "type": "string"
              },
              {
                "id": "06791a2f-c780-490f-b55e-99a55b0d1141",
                "name": "成交量（kg）",
                "value": "={{ $json['成交量（kg）'] }}",
                "type": "string"
              },
              {
                "id": "de845f2d-7139-4b05-8e88-c4eaca8c0a58",
                "name": "成交金额（元）",
                "value": "={{ $json['成交金额（元）'] }}",
                "type": "string"
              },
              {
                "id": "5fc3b6c7-e144-4dca-bc76-53f3cd85af42",
                "name": "市场持仓（手）",
                "value": "={{ $json['市场持仓（手）'] }}",
                "type": "string"
              },
              {
                "id": "7a072347-1201-434a-bbc4-e78e7fcccacb",
                "name": "交收方向",
                "value": "={{ $json['交收方向'] }}",
                "type": "string"
              },
              {
                "id": "494bd6fa-a214-4973-8e05-2beebba34855",
                "name": "交收量（手）",
                "value": "={{ $json['交收量（手）'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          112
        ],
        "id": "5fb0358f-4080-4b88-9b2d-a1e25ed98497",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 18,
                "triggerAtMinute": 50
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          176,
          112
        ],
        "id": "ddcb86fe-0401-4cff-8936-ea900d3b7ab3",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          368,
          112
        ],
        "id": "f72770c3-9703-4cd9-a588-bd6e4c736877",
        "name": "currentDate"
      },
      {
        "parameters": {
          "operation": "formatDate",
          "date": "={{ $json.currentDate }}",
          "format": "custom",
          "customFormat": "yyyy-MM-dd",
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          512,
          112
        ],
        "id": "8be973ab-e07b-416f-8cc5-c4f8604e1f9d",
        "name": "formattedDate"
      },
      {
        "parameters": {
          "operation": "upsert",
          "table": {
            "__rl": true,
            "value": "sge",
            "mode": "list",
            "cachedResultName": "sge"
          },
          "columnToMatchOn": "日期",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1248,
          112
        ],
        "id": "543f1cad-033e-4f9a-89df-6007c6b849aa",
        "name": "Insert or update rows in a table",
        "credentials": {
          "mySql": {
            "id": "t9uO56ilinkwpsKR",
            "name": "MySQL account"
          }
        }
      }
    ],
    "connections": {
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "currentDate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "currentDate": {
        "main": [
          [
            {
              "node": "formattedDate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formattedDate": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Insert or update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}