workflows/shfe_NIBimeXA4enrqgLm_20251217_011705.json
{
  "updatedAt": "2025-11-10T06:19:38.000Z",
  "createdAt": "2025-11-06T23:04:16.444Z",
  "id": "NIBimeXA4enrqgLm",
  "name": "shfe",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "de79b18d-3bb3-48e5-bd54-9b3c2acecbf5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0"
            },
            {
              "name": "Host",
              "value": "www.shfe.com.cn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ],
      "id": "317cc55e-a2c1-428d-8961-bb9e98cfc3de",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  \n  //获取当前日期函数\n  let date = new Date(),\n      year = date.getFullYear(), month = date.getMonth() + 1, strDate = date.getDate();\n  let = timestamp = date.getTime();\n  if (month < 10) month = `0${month}`\n  if (strDate < 10) strDate = `0${strDate}`\n \n  item.json.url = \"https://www.shfe.com.cn/data/tradedata/future/dailydata/kx\" + `${year}${month}${strDate}` + \".dat\" + \"?params=\" + timestamp;\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "1bce7a05-ed72-40ac-adfa-8da12b47e14f",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "shfe",
          "mode": "list",
          "cachedResultName": "shfe"
        },
        "columnToMatchOn": "report_date",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1120,
        16
      ],
      "id": "ac249331-6064-4ec0-abc0-abc897cf13f3",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "t9uO56ilinkwpsKR",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae19a360-48b7-42ba-8f45-2bb3b4362a25",
              "name": "o_curinstrument",
              "value": "={{ $json.o_curinstrument }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "487b4592-48ef-4176-b30c-e859a7f46158",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "o_curinstrument",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "43cf34ef-657f-4f10-a631-bc4cd4b70eb5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f3280a7-3ca7-4b30-a657-8a18d60f938c",
              "name": "OPENINTEREST",
              "value": "={{ $json.OPENINTEREST }}",
              "type": "string"
            },
            {
              "id": "dd01d34d-12e4-45ec-a8cd-110294bb1b8b",
              "name": "HIGHESTPRICE",
              "value": "={{ $json.HIGHESTPRICE }}",
              "type": "string"
            },
            {
              "id": "752c616c-d0f1-4e8e-aa53-c2942a871547",
              "name": "TURNOVER",
              "value": "={{ $json.TURNOVER }}",
              "type": "string"
            },
            {
              "id": "c05fde18-a0d7-461e-b8f5-c24f52bcb7f1",
              "name": "TASVOLUME",
              "value": "={{ $json.TASVOLUME }}",
              "type": "string"
            },
            {
              "id": "148da357-a8c0-4804-b963-b1600c583609",
              "name": "PRODUCTGROUPID",
              "value": "={{ $json.PRODUCTGROUPID }}",
              "type": "string"
            },
            {
              "id": "316561fd-eee4-4277-887f-27dcd23dd199",
              "name": "PRODUCTCLASS",
              "value": "={{ $json.PRODUCTCLASS }}",
              "type": "string"
            },
            {
              "id": "8a8e198a-91b0-4b7e-ba1b-c0c608b6a95a",
              "name": "CLOSEPRICE",
              "value": "={{ $json.CLOSEPRICE }}",
              "type": "string"
            },
            {
              "id": "9551b06c-877b-4ffa-a502-5b0cdf57155c",
              "name": "VOLUME",
              "value": "={{ $json.VOLUME }}",
              "type": "string"
            },
            {
              "id": "6949caeb-9f9e-4be8-bf1a-078c836a5d44",
              "name": "OPENINTERESTCHG",
              "value": "={{ $json.OPENINTERESTCHG }}",
              "type": "string"
            },
            {
              "id": "82226854-2438-49a3-abe1-1af98352aba6",
              "name": "PRODUCTID",
              "value": "={{ $json.PRODUCTID }}",
              "type": "string"
            },
            {
              "id": "edbc942c-3ac2-46d4-9461-0659584ec915",
              "name": "PRODUCTNAME",
              "value": "={{ $json.PRODUCTNAME }}",
              "type": "string"
            },
            {
              "id": "6dd5cbd4-1d35-4d22-a40b-3c637b945128",
              "name": "ZD2_CHG",
              "value": "={{ $json.ZD2_CHG }}",
              "type": "string"
            },
            {
              "id": "f3cb2ecb-ab79-49d2-8066-f38a43dcea4d",
              "name": "OPENPRICE",
              "value": "={{ $json.OPENPRICE }}",
              "type": "string"
            },
            {
              "id": "428cf6f3-2c1b-4eaa-9abf-d2765fcc3b86",
              "name": "ZD1_CHG",
              "value": "={{ $json.ZD1_CHG }}",
              "type": "string"
            },
            {
              "id": "d74c275f-01bc-4805-8726-5d8e3a23b2a4",
              "name": "SETTLEMENTPRICE",
              "value": "={{ $json.SETTLEMENTPRICE }}",
              "type": "string"
            },
            {
              "id": "c2a6dd7b-b102-4eda-83f0-7a041677b9c4",
              "name": "DELIVERYMONTH",
              "value": "={{ $json.DELIVERYMONTH }}",
              "type": "string"
            },
            {
              "id": "e73d2c7b-d405-4ce1-81dc-cd860a070033",
              "name": "PRESETTLEMENTPRICE",
              "value": "={{ $json.PRESETTLEMENTPRICE }}",
              "type": "string"
            },
            {
              "id": "a138e96c-e5e6-483f-b683-c3e56a8058b4",
              "name": "LOWESTPRICE",
              "value": "={{ $json.LOWESTPRICE }}",
              "type": "string"
            },
            {
              "id": "c56f989b-5361-4ef7-9201-03f2e8b6dcbe",
              "name": "report_date",
              "value": "={{ $('HTTP Request').item.json.report_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "a1134306-2f8e-492a-a320-c077ef516992",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd33cba9-6ea9-4ade-8bde-a5e675cf9341",
              "leftValue": "={{ $json.DELIVERYMONTH }}",
              "rightValue": "小计",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "a9a64c44-7c60-498f-9f84-7f72ba70f175",
      "name": "If"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b4427e2e-6043-4da0-889b-e923155d29d6",
  "activeVersionId": "b4427e2e-6043-4da0-889b-e923155d29d6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-06T23:04:16.449Z",
      "createdAt": "2025-11-06T23:04:16.449Z",
      "role": "workflow:owner",
      "workflowId": "NIBimeXA4enrqgLm",
      "projectId": "2KZknanlM1yBuuvy"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-03T09:28:06.918Z",
    "createdAt": "2025-12-03T09:28:06.918Z",
    "versionId": "b4427e2e-6043-4da0-889b-e923155d29d6",
    "workflowId": "NIBimeXA4enrqgLm",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9,
                "triggerAtMinute": 50
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "de79b18d-3bb3-48e5-bd54-9b3c2acecbf5",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0"
              },
              {
                "name": "Host",
                "value": "www.shfe.com.cn"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          304,
          0
        ],
        "id": "317cc55e-a2c1-428d-8961-bb9e98cfc3de",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  \n  //获取当前日期函数\n  let date = new Date(),\n      year = date.getFullYear(), month = date.getMonth() + 1, strDate = date.getDate();\n  let = timestamp = date.getTime();\n  if (month < 10) month = `0${month}`\n  if (strDate < 10) strDate = `0${strDate}`\n \n  item.json.url = \"https://www.shfe.com.cn/data/tradedata/future/dailydata/kx\" + `${year}${month}${strDate}` + \".dat\" + \"?params=\" + timestamp;\n  \n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          0
        ],
        "id": "1bce7a05-ed72-40ac-adfa-8da12b47e14f",
        "name": "Code"
      },
      {
        "parameters": {
          "operation": "upsert",
          "table": {
            "__rl": true,
            "value": "shfe",
            "mode": "list",
            "cachedResultName": "shfe"
          },
          "columnToMatchOn": "report_date",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1120,
          16
        ],
        "id": "ac249331-6064-4ec0-abc0-abc897cf13f3",
        "name": "Insert or update rows in a table",
        "credentials": {
          "mySql": {
            "id": "t9uO56ilinkwpsKR",
            "name": "MySQL account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ae19a360-48b7-42ba-8f45-2bb3b4362a25",
                "name": "o_curinstrument",
                "value": "={{ $json.o_curinstrument }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          0
        ],
        "id": "487b4592-48ef-4176-b30c-e859a7f46158",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "o_curinstrument",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          576,
          0
        ],
        "id": "43cf34ef-657f-4f10-a631-bc4cd4b70eb5",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f3280a7-3ca7-4b30-a657-8a18d60f938c",
                "name": "OPENINTEREST",
                "value": "={{ $json.OPENINTEREST }}",
                "type": "string"
              },
              {
                "id": "dd01d34d-12e4-45ec-a8cd-110294bb1b8b",
                "name": "HIGHESTPRICE",
                "value": "={{ $json.HIGHESTPRICE }}",
                "type": "string"
              },
              {
                "id": "752c616c-d0f1-4e8e-aa53-c2942a871547",
                "name": "TURNOVER",
                "value": "={{ $json.TURNOVER }}",
                "type": "string"
              },
              {
                "id": "c05fde18-a0d7-461e-b8f5-c24f52bcb7f1",
                "name": "TASVOLUME",
                "value": "={{ $json.TASVOLUME }}",
                "type": "string"
              },
              {
                "id": "148da357-a8c0-4804-b963-b1600c583609",
                "name": "PRODUCTGROUPID",
                "value": "={{ $json.PRODUCTGROUPID }}",
                "type": "string"
              },
              {
                "id": "316561fd-eee4-4277-887f-27dcd23dd199",
                "name": "PRODUCTCLASS",
                "value": "={{ $json.PRODUCTCLASS }}",
                "type": "string"
              },
              {
                "id": "8a8e198a-91b0-4b7e-ba1b-c0c608b6a95a",
                "name": "CLOSEPRICE",
                "value": "={{ $json.CLOSEPRICE }}",
                "type": "string"
              },
              {
                "id": "9551b06c-877b-4ffa-a502-5b0cdf57155c",
                "name": "VOLUME",
                "value": "={{ $json.VOLUME }}",
                "type": "string"
              },
              {
                "id": "6949caeb-9f9e-4be8-bf1a-078c836a5d44",
                "name": "OPENINTERESTCHG",
                "value": "={{ $json.OPENINTERESTCHG }}",
                "type": "string"
              },
              {
                "id": "82226854-2438-49a3-abe1-1af98352aba6",
                "name": "PRODUCTID",
                "value": "={{ $json.PRODUCTID }}",
                "type": "string"
              },
              {
                "id": "edbc942c-3ac2-46d4-9461-0659584ec915",
                "name": "PRODUCTNAME",
                "value": "={{ $json.PRODUCTNAME }}",
                "type": "string"
              },
              {
                "id": "6dd5cbd4-1d35-4d22-a40b-3c637b945128",
                "name": "ZD2_CHG",
                "value": "={{ $json.ZD2_CHG }}",
                "type": "string"
              },
              {
                "id": "f3cb2ecb-ab79-49d2-8066-f38a43dcea4d",
                "name": "OPENPRICE",
                "value": "={{ $json.OPENPRICE }}",
                "type": "string"
              },
              {
                "id": "428cf6f3-2c1b-4eaa-9abf-d2765fcc3b86",
                "name": "ZD1_CHG",
                "value": "={{ $json.ZD1_CHG }}",
                "type": "string"
              },
              {
                "id": "d74c275f-01bc-4805-8726-5d8e3a23b2a4",
                "name": "SETTLEMENTPRICE",
                "value": "={{ $json.SETTLEMENTPRICE }}",
                "type": "string"
              },
              {
                "id": "c2a6dd7b-b102-4eda-83f0-7a041677b9c4",
                "name": "DELIVERYMONTH",
                "value": "={{ $json.DELIVERYMONTH }}",
                "type": "string"
              },
              {
                "id": "e73d2c7b-d405-4ce1-81dc-cd860a070033",
                "name": "PRESETTLEMENTPRICE",
                "value": "={{ $json.PRESETTLEMENTPRICE }}",
                "type": "string"
              },
              {
                "id": "a138e96c-e5e6-483f-b683-c3e56a8058b4",
                "name": "LOWESTPRICE",
                "value": "={{ $json.LOWESTPRICE }}",
                "type": "string"
              },
              {
                "id": "c56f989b-5361-4ef7-9201-03f2e8b6dcbe",
                "name": "report_date",
                "value": "={{ $('HTTP Request').item.json.report_date }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          0
        ],
        "id": "a1134306-2f8e-492a-a320-c077ef516992",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cd33cba9-6ea9-4ade-8bde-a5e675cf9341",
                "leftValue": "={{ $json.DELIVERYMONTH }}",
                "rightValue": "小计",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          0
        ],
        "id": "a9a64c44-7c60-498f-9f84-7f72ba70f175",
        "name": "If"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Insert or update rows in a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}